

html {
	background: #333333;
}


#preloader {
position:fixed;
text-align: center;
top:0;
left:0;
right:0;
bottom:0;
background:#fff;
z-index:999;
}

#status {
width:24px;
height:24px;
display: inline-block;
background-image:url(../images/loading.png);
background-size:24px 24px;
background-repeat:no-repeat;
background-position:center;
}

#preloader .middle {
position: absolute;
top:50%;
left:50%;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

@keyframes rotater {
0% { transform:scale(1) }
50% { transform: scale(2) }
100% { transform: scale(1) }
}

#status { 
animation-name:rotater; 
animation-duration:1s; 
animation-iteration-count:infinite; 
animation-timing-function: ease-out;
-o-transform:scale(2);
-o-transition-duration:0.5s;
-o-transition-timing-function: ease-out;
-ms-transform: scale(2);
-ms-transform-duration:0.5s;
-ms-transform-timing-function: ease-out;
}

body {
font-family: 'Roboto', sans-serif;
background: #fff;
font-weight: 400;
color:#333333;
font-size: 16px;
line-height: 1.6;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;			
	position: absolute!important;
	width:100%;
}


img.alignright {
	float:right;
	max-width:50%;
	margin:0 0 1em 2em;
	
}


img.alignleft {
		float:left;
	max-width:50%;
	margin:0 2em 1em 0;
	
}




a {
transition:0.33s;
transition-delay: 0.1s;
}

p {
margin-bottom:1em;
}

strong {
font-weight: bold;
}

.button, .cta a {
height:50px;
border-radius: 30px;
display: inline-block;
line-height: 50px;
padding:0 30px;
text-decoration: none;
color:#FFF;
background:#00335b;
font-size: 1rem;
border:0;
cursor: pointer;
} 

.button:hover, .cta a:hover {
background:#333333;
}


.button.large {
	width: 100%;
	font-weight: bold;
	font-size: 1.3rem;
}

.header {
    background: none;
    height: 85px;
    line-height: 84px;
    overflow: visible;
    z-index: 99;
    position: absolute;
    top: 0;
}

.header .row {
max-width: 100%;
overflow: visible;	
background: #fff;
}

.menu-trigger {
display: none;
}


.menu a {
	-webkit-tap-highlight-color: transparent;
}

.menu li > .sub-menu a {
	-webkit-tap-highlight-color: #00335b;

}


.menu-main-menu-container {
float: right;
width: 100%;
max-width: 600px;
text-align: center;
background: 
z-index: 2;
}

.menu {
margin:0;
padding:0;
height:85px;
}

.menu li {
display: inline-block;
margin-right:2em;
background:  none;
}

.menu-item-has-children:after {
font-family: FontAwesome;
content:'\f107';
float:right;
margin-left:5px;
color:#00335b;
}


.menu .sub-menu li {
display: block;
line-height: 1;
width:100%;
text-align: left;
}

.menu .sub-menu li a {
display: block;
padding:10px 0;
width:100%;
color:#fff;
}

.menu li > .sub-menu {

display: block;
position: absolute;
opacity: 0;
visibility: hidden;
background: #808285;
max-width: 200px;
padding:0 30px 20px 30px;
margin-left: -30px;

margin-top:-20px;
z-index: 1;

transition:0;

}

.menu li:hover > .sub-menu {
	visibility: visible;
	opacity: 1;
	margin-top:0;
	transition:0.3s;
	padding-top:10px;
}

.menu li:hover > .sub-menu a {
color:#fff !important;
}

.menu a {
color:#00335b;
text-decoration: none;
}

.menu a:hover, .menu li:hover > a, .menu > li.current-menu-parent a, .menu > li.current-menu-item a, .menu > li.current-menu-parent .sub-menu a:hover, .menu > li.current-menu-item .sub-menu a:hover, .menu li.active .sub-menu a:hover  {
text-decoration: underline;
}

.menu > li.current-menu-parent .sub-menu a, .menu > li.current-menu-item .sub-menu a {
	color:#fff;
} 




.menu .sub-menu li.current_page_item a {
	color:#00335b;
}

.logo {
float: left;
margin-top: 10px;
}

.logo img {
max-width: 180px;
}

a.get-connected {
	float: right;
    text-decoration: none;
    background: #00335b;
    color: #FFF;
    display: block;
    height: 46px;
    cursor: pointer;
    line-height: 54px;
    border-radius: 30px;
    margin-top: 20px;
    padding: 0 2em;
}

a.get-connected img.mobile {
	display: none;
}

a.get-connected:hover {
	background: #333333;
}

a.get-connected img {
    max-width: 120px;
    margin-top: 0;

}

.choose-language {
float:right;
color:#00335b;
text-decoration: none;
margin-right:2em;
cursor: pointer;
}

.choose-language.desktop {
	display: block
}


.choose-language.mobile {
	display: none;
}


.choose-language:hover {
color: #00335b;
}

.choose-language:before {
font-family: 'FontAwesome';
content: '\f0ac';
margin-right: 8px;
font-weight: 400;
}


.banner-image:before {
content:'';
position: absolute;
top:0;
left:0;
width:100%;
height:100%;
z-index: 1;
background: -moz-linear-gradient(top,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.3) 100%);
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.3) 100%); 
background: linear-gradient(to bottom,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.3) 100%); 
}

.banner-text {
    position: absolute;
    width: 100%;
    top: 50%;
    color: #fff;
    z-index: 3;
    max-width: 500px;
    text-align: center;
    left: 50%;
    transform: translate3d(-50%,-50%,0);

}


.banner-text p:first-child {
	opacity: 0;
	margin-left:-100%;
	transition:0.3s;
}

.banner-text p:last-child {
	opacity: 0;
	margin-left:-100%;
	transition:0.5s ;
	
}

.flex-active-slide .banner-text p:first-child  {
	margin-left:0;
	opacity: 1;
	transition-delay: 0.5s;
}

.flex-active-slide .banner-text p:last-child  {
	margin-left:0;
	opacity: 1;
	transition-delay: 0.6s;
	font-weight: 900;
}


.row.cta {

	text-align: center;
}

.row.cta h4 {
	    font-size: 2rem;
    margin-bottom: 10px;
}

.row.cta a {
	float:none;
	display: inline-block;
}




.banner-text p {
max-width: 500px;
margin:auto;
}

.banner-text p:first-child {
	font-size: 1.5rem;
    font-weight: 300;
    opacity: 0.8;
    line-height: 1;
    margin-bottom: 10px;
}

.banner .flex-direction-nav a:active {
	opacity: 0.1;
}

.banner-text p:last-child  {
font-size: 3.438rem;
line-height: 1;
font-weight: 300;
}


.banner .flex-direction-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
}



.banner .flex-direction-nav a {
    color: #fff;
    border-radius: 50%;
    border-color: #fff;
    height: 60px;
    width: 60px;
    line-height: 70px;
}

.banner .flex-direction-nav a:before {
	color:#fff;
}

.page .promo {
height:100px;
background: #00335b;
padding-top:15px;
}

    .page .promo ul {
        max-width: 800px;
        width: 100%;
        float: left;
    }


    .page .promo li {
        list-style: none;
        display: inline-block;
        margin-right: -4px;
        width: 16%;
        text-align: center;
        color: #FFF;
    }

    .page .promo img {
        max-height: 43px;
        width: auto;
        color: #fff;
    }

    .page .promo span {
        display: block;
        width: 100%;
        font-size: 0.75rem;
    }

    .page .promo .row {
        max-width: 1250px;
    }

    .page .promo .tag-line {
        font-size: 1.500rem;
    }

        .page .promo .tag-line p {
            margin: 0;
            line-height: 1.4;
            color: #FFF;
            text-align: center;
        }

.connect-all {
text-align: center;
}

.connect-all.padding {
padding-bottom:80px;
}

.row.inner {
max-width:1000px;
}

.connect-all h2 {
font-size:2.250em;
margin-bottom:40px;
}

.connect-all img {
max-width:100px;
max-height:100px;
}

.connect-all span {
display: block;
line-height: 1.1;
font-size: 1.250rem;
}

.connect-all .border {
display: inline-block;
width: 160px;
height: 160px;
padding: 30px;
margin: 0 0 20px 0;
}

.learn-more {
background: #f3f3f3;
text-align: center;
overflow: visible;
}

.learn-more .col {
width:50%;
float:left;
}

.learn-more .col:first-child {
border-right:1px solid #666;
padding-right:60px;
}

.learn-more .col:last-child {
padding-left:60px;
}

.learn-more a {
color:#00335b;
}

.learn-more a:hover {
color:#000;
}

.learn-more img {
margin-bottom: 10px;
}

.learn-more p {
margin:0;
}

.learn-more {
padding:80px 0;
}

.learn-more .vs {
height: 200px;
position: absolute;
width: 30px;
height: 60px;
background: #f3f3f3;
text-align: center;
line-height: 60px;
font-weight: bold;
color: #00335b;
font-size: 1.3rem;
left: 50%;
top: 50%;
z-index: 2;
margin-top: -30px;
margin-left: -15px;
}

.learn-more a.more {
position: absolute;
top:-25px;
height:50px;
padding:0 30px;
border-radius: 30px;
background: #00335b;
color:#111;
text-decoration: none;
line-height: 50px;
font-size: 1.125rem;
left:50%;
transform: translateX(-50%);
color: #FFF;
}

.learn-more a.more:hover {
background: #333333;
}

.learn-more img {
max-width: 265px;
}

.pride {
text-align: center;
}

.pride h2 {
font-size: 2.250em;
margin-bottom: 40px;
}

.australian-owned {
height:190px;
color:#fff;
background:#00335b;
}

.australian-owned img {
max-width: 315px;
margin-top: 28px;
}

.australian-owned p {
margin: 0;
}  

.australian-owned .vertical-align {
margin-top:38px;
}

.australian-owned .span_4:last-child .vertical-align {
margin-top:100px;
font-size: 1.5rem;
}

.australian-owned .span_4:nth-child(2) p:last-child {
color:#fff;
}

.australian-owned .span_4:last-child {
text-align: right;
}

.page-header {
    line-height: 0;
    max-height: 445px;
    margin-top: 85px;
}

.page-header:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: -moz-linear-gradient(top,rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 100%);
    background: -webkit-linear-gradient(top,rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%);

} 

.page-header h1 {
position: absolute;
bottom:60px;
font-size: 4rem;
font-weight: bold;
color:#fff;
z-index: 3;
text-align: center;
width:100%;
}


section.content h2 {
font-size: 1.8rem;
text-align: center;
margin:auto;
margin-bottom:3rem;  
max-width: 900px;
font-weight: 300;
line-height: 1.3;
}

h3 {
font-size: 1.5rem;
margin-bottom:1rem;
font-weight: 300;
margin:0;
color: #00335b;
}


section.content ul {
	margin:1em;
}

section.content ul li {
	list-style: disc outside;
	margin-bottom:0.5em;
}

section.content aside ul li {
	list-style: none;
}

section.content aside ul {
	margin:0;
}

section.content .navigation {
	float:left;
	width:100%;
}

section.content .navigation ul {
	margin:0;
	
}

section.content .navigation ul li {
	list-style: none;
}

section.content img  {
width:auto;
}

section.content img.alignleft {
float:left;
margin:0 2rem 2rem 0;
}





.services.padding {
padding:0 0 60px 0;
} 


.page .services img {
max-width: 165px;
float:left;
margin-right:3rem;
}

.services .span_6 {
margin-bottom:60px;
}


.services .span_6:nth-child(2n+2) {
margin-right:0;
}

.content a {
color:#000;
}

.content a:hover {
	color:#666;
}

.service-brands img {
max-width: 265px;
}

.service-brands h4 {
font-size: 1.875rem;
font-weight: 900;
color: #00335b;
}

.service-menu {
position: relative;
} 


.service-menu .row:before {
content:'';
position: absolute;
bottom:0;
width:100%;
border-bottom:1px solid #000;
}   


.service-menu .row {
overflow: visible;
}


.service-menu ul {
width:100%;
text-align: center;
margin-bottom:30px;
display: block;
} 


.service-menu ul li {
display: inline-block;
max-width: 80px;
text-align: center;
margin:0 20px;
line-height: 1.2;
position: relative;
}


.service-menu ul li#current:before {
    font-family: "fontawesome";
    content: '\f107';
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #00335b;
    position: absolute;
    bottom: -50px;
    left: 50%;
    margin-left: -20px;
    border-radius: 100%;
    color: #fff;
    line-height: 40px;
    font-size: 1.5rem;
}


.service-menu ul li#current {
font-weight: bold;
color:#00335b;
}


.service-menu a {
color:#333336;
text-decoration: none;
} 



.additional-services {
text-align: center;
background: #00335b;
color: #fff;
}



.additional-services img {
max-height:59px;
width:auto;
margin-bottom:10px;
transition:0.33s;
transition-delay: 0.1s;
}


.additional-services h4 {
font-size: 2rem;
margin-bottom: 2rem;
}


.additional-services span {
display: block;
width:100%;
text-align: center;
}


.additional-services a {
color:#fff;
text-decoration: none;
display: block;
}

.additional-services a:hover img {
opacity: 0.8;

}


.center-align {
	text-align: center;
}



article.post {
position:relative;
padding-top:10px;
width:100%;
float:left;
margin-bottom:40px;
}


article.post img {
width:100%;
max-width: 270px;
float:left;
margin-right:40px;

}


article.post a.more {
font-weight: bold;
}

article.post date {
position: absolute;
z-index: 2;
left: -10px;
text-align: center;
top: 0;
background: #00335b;
color: #fff;
width: 60px;
height: 60px;
border-radius: 50%;
line-height: 16px;
padding-top: 13px;
}

article.post date span {
text-align: center;
font-size: 1.4rem;
}

article.post date span small {
display: block;
width:100%;
font-size: 1rem;
}

article.post p {
margin-bottom:0;
}


aside {
background: #00335b;
color:#fff;
padding:20px 30px;
}

.content aside a {
color:#fff;
text-decoration: none;
}

.content aside a:hover {
color:#000;
}

aside h4 {
margin-bottom:10px;
padding-bottom:10px;
font-size: 1.2rem;
border-bottom:1px solid #666;
}

.single article.post p {
margin-bottom:1em;
}


.single article.post {
padding-bottom:60px;
border-bottom:1px solid #000;
}


section.content article.post h3 {
font-size: 1.2rem;
font-weight: bold;
}



.flex-container a:hover,
.flex-slider a:hover {
outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
margin: 0;
padding: 0;
list-style: none;
}
.flex-pauseplay span {
text-transform: capitalize;
}

.flexslider {
margin: 0;
padding: 0;
}
.flexslider .slides > li {
display: none;
-webkit-backface-visibility: hidden;
}
.flexslider .slides img {
width: 100%;
display: block;
}
.flexslider .slides:after {
content: "\0020";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}
html[xmlns] .flexslider .slides {
display: block;
}
* html .flexslider .slides {
height: 1%;
}
.no-js .flexslider .slides > li:first-child {
display: block;
}

.flexslider {
margin: 0;
background: transparent;
position: relative;
zoom: 1;
width: 100%;


}
.flexslider .slides {
zoom: 1;
}
.flexslider .slides img {
height: auto;
-moz-user-select: none;
}
.flex-viewport {
visibility: visible!important;
max-height: 2000px;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-ms-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
}
.loading .flex-viewport {
max-height: 300px;
}
.carousel li {
margin-right: 5px;
}
.flex-direction-nav {
*height: 0;
}
.flex-direction-nav a {
text-decoration: none;
display: block;
width: 40px;
height: 40px;
margin: 0;
position: absolute;
top: 50%;
z-index: 10;
overflow: hidden;
opacity: 1;
cursor: pointer;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
border: 1px solid #000;
text-align: center!important;
border-radius: 8px;
outline: none;
background:#00335b;
}

.flex-direction-nav a:hover {
background: #00335b;
}

.flex-direction-nav a:focus {
outline: none;
}

.flex-direction-nav a:before {
font-family: "FontAwesome";
font-size: 26px;
display: inline-block;
content: '\f053';
color: #000;
line-height: 1.5;
margin-right: 3px;
margin-left:0;
outline: none;
}
.flex-direction-nav a.flex-next:before {
content: '\f054';
margin-left: 3px;
margin-right:0;
}
.flex-direction-nav .flex-prev {
left: 40px;
}
.flex-direction-nav .flex-next {
right: 40px;
text-align: right;
}



.testimonials .flex-direction-nav a {

	    color: #fff;
    border-radius: 50%;
    border-color: #fff;
    height: 60px;
    width: 60px;
    line-height: 70px;
}


.testimonials .flex-direction-nav a:before {
	color:#fff;
}


section.contact {

background: rgb(234,234,234); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(234,234,234,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 50%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(234,234,234,1) 50%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 50%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(234,234,234,1) 50%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

section.contact .span_6 {
	padding:0 4em;
}


.contact .connected {
	text-align: center;
	max-width: 300px;
	margin:auto;
}





.connected .content p {
margin: 0;
}

.connected .content p strong {
font-size: 2em;
}

.connected .content .vs {
display: block;
text-align: center;
margin:20px 0;
position: relative;
font-weight: bold;
}

.connected .content .vs:before {
content:'';
display: block;
width:40%;
border-bottom:1px solid #ccc;
position: absolute;
top:12px;
left:0;
}

.connected .content .vs:after {
content:'';
display: block;
width:40%;
border-bottom:1px solid #ccc;
position: absolute;
top:12px;
right:0;
}







.testimonials .flex-direction-nav .flex-prev {
left: -20px;
}
.testimonials .flex-direction-nav .flex-next {
right: -20px;
text-align: right;
}



.flex-direction-nav .flex-disabled {
opacity: 0!important;
filter: alpha(opacity=0);
cursor: default;
z-index: -1;
}

.flex-control-paging {
display: none;
}



.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
filter: blur(3px);
}

.remodal .content {
padding:60px 40px;
overflow: hidden;
}

.remodal .content a {
color:#333;
}

.remodal {
overflow: hidden;
}

.remodal .content ul {
margin:0;
padding:0;
float:left;
}

.remodal .content ul li {
margin: 0;
padding: 0;
list-style: none;
width: 33.33%;
float: left;
}


.remodal.connected .content p {
margin: 0;
}

.remodal.connected .content p strong {
font-size: 2em;
}

.remodal.connected .content .vs {
display: block;
text-align: center;
margin:20px 0;
position: relative;
font-weight: bold;
}

.remodal.connected .content .vs:before {
content:'';
display: block;
width:40%;
border-bottom:1px solid #ccc;
position: absolute;
top:12px;
left:0;
}

.remodal.connected .content .vs:after {
content:'';
display: block;
width:40%;
border-bottom:1px solid #ccc;
position: absolute;
top:12px;
right:0;
}











.remodal-overlay {
background: rgba(28, 29, 32, 0.8);

}

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
animation-duration: 0.3s;
animation-fill-mode: forwards;
}

.remodal-overlay.remodal-is-opening {
animation-name: remodal-overlay-opening-keyframes;
}

.remodal-overlay.remodal-is-closing {
animation-name: remodal-overlay-closing-keyframes;
}


.remodal-wrapper {
padding: 10px 10px 0;
}


.remodal {
box-sizing: border-box;
width: 100%;
margin-bottom: 0;
padding: 0;
border-radius: 4px;
transform: translate3d(0, 0, 0);
max-width: 600px;
color: #2b2e38;
background: #fff;

box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);


}


.remodal.connected {
max-width:360px;
}


.remodal.language {
max-width: 500px;
}



.remodal.staff .content {
text-align: left;
}



.remodal p {
cursor: pointer;
}

.remodal ul li a {
font-weight: 600;
padding:10px 0;
display: block;
cursor: pointer;
}

.remodal a:hover {
text-decoration: underline;
}

.remodal h1 img {
max-width: 155px;
}

.remodal h1 {
font-size: 1.5em;
margin-bottom: 0;
font-weight: 400;
width: 100%;
color:#FFF;
background: #00335b;
padding: 20px;

border-radius: 4px 4px 0 0;

}

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
animation-duration: 0.3s;
animation-fill-mode: forwards;
}

.remodal.remodal-is-opening {
animation-name: remodal-opening-keyframes;
}

.remodal.remodal-is-closing {
animation-name: remodal-closing-keyframes;
}

.remodal,
.remodal-wrapper:after {
vertical-align: middle;
}


.remodal-close {
position: absolute;
top: 0;
right: 0;
display: block;
overflow: visible;
width: 35px;
height: 35px;
margin: 0;
padding: 0;
cursor: pointer;
text-decoration: none;
color: #FFF;
border: 0;
outline: 0;
background: transparent;
transition:0.33s;
opacity: 0.2;

}


.remodal-close:before {
font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
font-size: 25px;
top: 0;
left: 0;
display: block;
content: "\00d7";
text-align: center;

}



.remodal-close:hover,
.remodal-close:focus {
transform: scale(1.1);
opacity: 1;
}


.remodal-confirm,
.remodal-cancel {
font: inherit;

display: inline-block;
overflow: visible;

min-width: 110px;
margin: 0;
padding: 12px 0;

cursor: pointer;
transition: background 0.2s;
text-align: center;
vertical-align: middle;
text-decoration: none;

border: 0;
outline: 0;
}

.remodal-confirm {
color: #fff;
background: #81c784;
}

.remodal-confirm:hover,
.remodal-confirm:focus {
background: #66bb6a;
}

.remodal-cancel {
color: #fff;
background: #e57373;
}

.remodal-cancel:hover,
.remodal-cancel:focus {
background: #ef5350;
}

.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
padding: 0;

border: 0;
}

@keyframes remodal-opening-keyframes {
from {
transform: scale(1.05);

opacity: 0;
}
to {
transform: none;

opacity: 1;
}
}

@keyframes remodal-closing-keyframes {
from {
transform: scale(1);

opacity: 1;
}
to {
transform: scale(0.95);

opacity: 0;
}
}

@keyframes remodal-overlay-opening-keyframes {
from {
opacity: 0;
}
to {
opacity: 1;
}
}

@keyframes remodal-overlay-closing-keyframes {
from {
opacity: 1;
}
to {
opacity: 0;
}
}



html.remodal-is-locked {
overflow: hidden;

touch-action: none;
}

.remodal,
[data-remodal-id] {
display: none;
}

.remodal-overlay {
position: fixed;
z-index: 9999;
top: -5000px;
right: -5000px;
bottom: -5000px;
left: -5000px;

display: none;
}

.remodal-wrapper {
position: fixed;
z-index: 10000;
top: 0;
right: 0;
bottom: 0;
left: 0;
display: none;
overflow: auto;
text-align: center;
-webkit-overflow-scrolling: touch;
}

.remodal-wrapper:after {
display: inline-block;
height: 100%;
margin-left: -0.05em;
content: "";
}


.remodal-overlay,
.remodal-wrapper {
backface-visibility: hidden;
}

.remodal {
position: relative;

outline: none;

text-size-adjust: 100%;
}

.remodal-is-initialized {
display: inline-block;
}


.lt-ie9 .remodal-overlay {
background: #2b2e38;
}

.lt-ie9 .remodal {
width: 400px;
}





.footer {
background:#FFF;
color:#808285;
}

.footer a.tele {
	font-size: 2rem;
	line-height: 1;
}


.footer .span_4 a {
	color:#00335b;
	text-decoration: none;
}

.footer .span_4 a:hover {
	color:#00335b;
	text-decoration: underline;
}

.footer h4 {
margin-bottom:20px;
}

.footer li {
margin-bottom:1em;
}

.footer a {
color:#fff;
}

.footer .social-share a {
	color: #00335b;
}

.footer .social-share a:hover {
	color:#808285;
}

.footer strong {
	font-weight: normal;
	font-size: 1.5rem;
}

.footer h4 {
color:#00335b;
font-size: 1.875rem;
}

.footer .logo {

float:none;
}


.footer .span_4:nth-child(2) li {
list-style: outside none;
padding-left:1em;
}

.footer .span_4:nth-child(2) li:before {
font-family: Fontawesome;
content:'\f0da';
color:#00335b;
margin-left:-1em;
margin-right:0.65em;

}

.footer .logo img {
max-width: 140px;
}

.footer .span_4:last-child {
text-align: right;
}


.copyright {
background:#808285;
color:#fff;
padding:20px 0;

}

.copyright p {
width:80%;
margin:0;
float:left;
font-size: 0.85em;
}



.copyright a {
color:#fff;
}

.footer a:hover, .copyright a:hover,  .social-share a:hover  {
color:#00335b;
}

.social-share a {
font-size: 2.5rem;
color:#bdd829;
margin-left:5px;
}

.back-top {
margin-bottom:120px;
display: block;
width: 100%;
text-decoration: none;
}

.back-top:hover {
color:#bdd829;
}

.back-top i {
color:#00335b;
}




section.content ul.styled, section.content ul.styled ul {
	margin:1em 0;
}


section.content ul.styled ul {
	margin-bottom:5em;
}


section.content ul.styled li {
	list-style: none;
}


section.content ul.styled > li ul li {
    padding-left: 2.5em;
    margin-bottom: 20px;
    width: 100%;
    display: block;
    float: left;
	
}

section.content ul.styled h3 {
	  font-size: 2rem;
}



section.content ul.styled > li {
	margin-left:160px;
	position: relative;
	float:left;
	
}

section.content ul.styled > li:before {
    content: '';
    display: block;
    width: 125px;
    height: 125px;
    float: left;
    background-size: cover;
    margin-left: -160px;
    position: absolute;
    top: 0;
}




section.content ul.styled >li ul li:before {
	margin-left:-2.5em;
	content:'';
	display: block;
	float:left;
	border:1px solid #ccc;
	border-radius: 8px;
	height:24px;
	width:24px;
	
}



.testimonials {
background-color: #f3f3f3;
background-size:cover;
text-align: center;
line-height: 1.2;
padding:45px 0;
}

.testimonials h5 {
font-size:1.875rem;
margin-bottom:20px;

}

.testimonials h6 {
	font-weight: bold;
}


.testimonials .flexslider {
padding:0 60px;
}


.testimonials .flexslider .slides > li  {
	    height: 300px;
}

.testimonials .flexslider .slides > li .holder {
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.draw-outer {
border-bottom:none;
}

.draw {
padding:0 80px 30px 40px;
transition:background 0.33s;
transition-delay: 0.1s;
margin-top:-20px;

}

.faqs h4 {
font-size:1.875em;
padding:30px 30px 30px 30px;
line-height: 67px;
transition:background 0.33s;
transition-delay: 0.1s;
color: #00335b;

}



.faqs h4.active, .faqs .draw.active {
background: #efefef;
}


.faqs h4:after {
font-family: FontAwesome;
content:'\f067';
float:right;
font-size:1.5rem;
color:;

}

.faqs h4.active:after {
content:'\f068';
}


.meta {
text-align: center;
}   

.addthis_toolbox ul {
margin:0;
}

.addthis_toolbox li {
display: inline-block;
margin-right:-5px;

}

.addthis_toolbox a {
width:40px!important;
height:40px;
display: block;
line-height: 40px!important;
text-align: center;
background: #ccc;
color:#fff!important;
text-decoration: none;

}

.addthis_toolbox a:hover {
color:#fff!important;
}


.addthis_toolbox a.facebook {
background:#3c5a96;
}


.addthis_toolbox a.twitter {
background:#1dadea;
}


.addthis_toolbox a.googleplus {
background:#da4b2c;
}


.single-post h1 span {
    padding: 0 2em;
    text-align: center;
    display: inline-block;
    margin: 0 0 20px 0;
    line-height: 1;
}

.single-post section.single-blog, section.single-blog .row  {
overflow: visible;
}

.single-post section.single-blog article.post date {
left:50%;
margin-left:-30px;
top:-90px;
}


section.form {
	background:#ebebeb;
}

section.form p {
	max-width: 650px;
	text-align: center;
	margin: auto;
	margin-bottom:60px;
}



body .gform_wrapper ul.gfield_checkbox li, body .gform_wrapper ul.gfield_radio li {
    padding: 0!important;
    width: 33%;
    float: left;
}


body ul.gfield_checkbox {
	margin-top:10px!important;
	float:left;
	width:100%;
} 


body .gform_wrapper input, body .gform_wrapper textarea {
    padding: 14px 10px 8px 10px!important;
    border: none;
    border-bottom: 4px solid rgba(0,0,0,0.1);
}

body.page-template-template-connect-online .gform_wrapper input, body .gform_wrapper textarea,
.page .gform_wrapper input, body .gform_wrapper textarea
{
	background:#f2f2f2;
}


body .gform_wrapper .gsection {
    border-bottom: 0;
    padding: 0;
    margin: 0;
    clear: both;
    width: 100%;
    float: left;
}

section.content .gform_wrapper .gsection h2 {
	text-align: left;
	color:#00335b;
}

.page .form .gform_wrapper input {
	background: #fff;
}

body .gform_wrapper.gf_browser_chrome .gfield_checkbox li input, body .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], body .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 5px;
}
 
 
body .gform_wrapper .gfield_required {
	display: none;
} 
    
body .gform_wrapper .top_label .gfield_label {
    margin: 1em 0 0 0;
}  

body .gform_wrapper {
    max-width: 100%;
}  

body .gform_wrapper .gform_footer {
	margin:0;
}

body .gform_wrapper img {
	max-width: 0;
	max-height: 0;
}

body .gform_wrapper div.validation_error {
	color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.6em;
    border-top: 0;
    border-bottom: 0;
    
border-bottom: 4px solid rgba(0,0,0,0.1);
    padding: 1.2em;
    clear: both;
    width: 100%;
    background: #f44336;
    line-height: 1.2;
}

body .gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), body .gform_wrapper li.gfield_error textarea {
    border: 1px solid #f44336;
}


body .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description{
	display: none!important;
}



body .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container, body .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
	margin-top:0;
}


body .gform_wrapper .top_label li.gfield.gfield_error.gf_left_half {
    margin-right: 0;
}

body .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description, body .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container, body .gform_wrapper li.gfield.gfield_error.gfield_contains_required fieldset legend.gfield_label, body .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
	margin:0;
}

body .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container, body .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
    margin-top: 0.66em;
}

body .gform_wrapper li.gfield.gfield_error, body .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background-color: transparent;
    margin-bottom: .375em!important;
    padding: 0;
    border-top: 0;
    border-bottom: 0;
}

body .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container, body .gform_wrapper li.gfield_html {
    max-width: 100%;
}

body gform_wrapper .gfield_description+.gform_wrapper .gfield_description.validation_message, body .gform_wrapper .ginput_container+.gfield_description.validation_message {
    margin-top: 0;
}

body .gform_wrapper .top_label li.gfield.gf_left_half input.large, body .gform_wrapper .top_label li.gfield.gf_left_half input.medium, body .gform_wrapper .top_label li.gfield.gf_left_half select.large, body .gform_wrapper .top_label li.gfield.gf_left_half select.medium, body .gform_wrapper .top_label li.gfield.gf_right_half input.large, body .gform_wrapper .top_label li.gfield.gf_right_half input.medium, body .gform_wrapper .top_label li.gfield.gf_right_half select.large, body .gform_wrapper .top_label li.gfield.gf_right_half select.medium {
    width: 100%!important;
}

body .gform_wrapper ul.gform_fields li.gfield {
	margin-top:0;
}


body .gform_wrapper li.gf_left_half, body .gform_wrapper .top_label li.gfield.gf_left_half {
	
	width:48.5%;
	margin: 0 0 .5em;
	margin-right:1%;
}

body .gform_wrapper .top_label li.gfield.gfield_error.gf_left_half, body .gform_wrapper .top_label li.gfield.gfield_error.gf_right_half {
	width:48.5%!important;
	float:left;
}

body .gform_wrapper .gfield_error .gfield_label {
    color: #000;
}

body .gform_wrapper .gfield_description.validation_message, body .gform_wrapper .top_label .gfield_description.validation_message {
    padding: 0 0 1em;
    font-style: italic;
    font-weight: 400;
    color:#f44336;
}

body .gform_wrapper.gf_browser_chrome .gfield_error input[type=email], body .gform_wrapper.gf_browser_chrome .gfield_error input[type=number], body .gform_wrapper.gf_browser_chrome .gfield_error input[type=password], body .gform_wrapper.gf_browser_chrome .gfield_error input[type=tel], body .gform_wrapper.gf_browser_chrome .gfield_error input[type=text], body .gform_wrapper.gf_browser_chrome .gfield_error input[type=url], body .gform_wrapper.gf_browser_chrome .gfield_error select, body .gform_wrapper.gf_browser_chrome .gfield_error textarea, body .gform_wrapper.gf_browser_chrome li.gfield_error.field_sublabel_above .ginput_complex input[type=text] {
    margin-bottom: 2px;
    background: #fff;
    border: none;
    border-bottom: 4px solid rgba(0,0,0,0.1);
}

body .gform_wrapper .gfield_error .gfield_label {
	color:#000;
}



.page-template-template-connect-online .menu-trigger, .page-template-template-connect-online .menu-main-menu-container, .page-template-template-connect-online .get-connected, .page-template-template-connect-online a.choose-language {
	display: none;
}


.page-template-template-connect-online .header {
	background:#00335b;
	color:#000;
}



body.page-template-template-connect-online .gform_wrapper.gf_browser_chrome .gfield_error input[type=email], body.page-template-template-connect-online .gform_wrapper.gf_browser_chrome .gfield_error input[type=number], body.page-template-template-connect-online .gform_wrapper.gf_browser_chrome .gfield_error input[type=password], body.page-template-template-connect-online .gform_wrapper.gf_browser_chrome .gfield_error input[type=tel], body.page-template-template-connect-online .gform_wrapper.gf_browser_chrome .gfield_error input[type=text], body .gform_wrapper.gf_browser_chrome .gfield_error input[type=url], body.page-template-template-connect-online .gform_wrapper.gf_browser_chrome .gfield_error select, body.page-template-template-connect-online .gform_wrapper.gf_browser_chrome .gfield_error textarea, body.page-template-template-connect-online .gform_wrapper.gf_browser_chrome li.gfield_error.field_sublabel_above .ginput_complex input[type=text] {
    margin-bottom: 2px;
    background: #f2f2f2;
    }
    
    
body .gform_wrapper .hidden_label input.large, body .gform_wrapper .hidden_label select.large, body .gform_wrapper .top_label input.large, body .gform_wrapper .top_label select.large {
	width:100%;
}    
    

.page-template-template-connect-online .header h1 {

	font-size: 2rem;
	font-weight: 900;
	color: #00335b;
    display: inline-block;
    width: 500px;
    margin: auto;
    left: 50%;
    position: absolute;
    margin-left: -180px;
    }

.menu-back {
	display: none;
}

.page-template-template-connect-online .menu-back {
	display: block;
	float:right;
	color:#00335b;
	text-decoration: none;
	margin-right:2em;
}


body input.datepicker {
	padding-right:40px;
}


.ginput_container_date {
	 width: 10em!important;
	 position: relative;
}


body .ui-datepicker-calendar .ui-state-default {
	
	background: #eee;
	
}


body .ui-datepicker-calendar .ui-state-active {
    background: #FFF2AA;
    border: 0;
    color: #666;
   -webkit-box-shadow:none ;
    -moz-box-shadow: none;
    box-shadow: none; 
   text-shadow: none;
    position: relative;
    margin: 0; 
}

body .gform_wrapper .datepicker  {
    width: 100%!important;
} 

body .ui-datepicker-title {
    text-align: center;
    background: #000;
}


.ginput_container_date:after {
    font-family: FontAwesome;
    content: '\f073';
    position: absolute;
    right: 15px;
    top: 9px;
	
}





.row.how-it-works h3 {
	margin-top:20px;
	font-size:1.875rem;
	font-weight: normal;
}

.row.how-it-works .span_2 img {
	max-width: 150px;
}

.row.how-it-works .span_10 img {
	width:auto;
}

.row.how-it-works .span_10 {
	padding-left:1em;
}

.row.how-it-works h3 span {
	color:#00335b;
}
.row.how-it-works h3 span:after {
	content:'.';
}




body .gform_wrapper ul.gfield_checkbox li input[type=checkbox] {
  display: none!important;
}


body .gform_wrapper ul.gfield_checkbox li input[type=checkbox] + label {
	line-height: 40px;
	 font-weight: bold;
}


body .gform_wrapper ul.gfield_checkbox {
	margin:0;
}


body .gform_wrapper ul.gfield_checkbox li input[type=checkbox] + label:before {
	content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
	line-height: 30px;
    margin: -3px 15px 0 0;
    vertical-align: middle;
    background-color: #00335b;
    cursor: pointer;
    border-radius: 6px;

}

body .gform_wrapper ul.gfield_checkbox li input[type=checkbox]:checked + label:before {
    font-family: FontAwesome;
    content: "\f00c";
    font-size: 15px;
    color: #FFF;
    text-align: center;

}


body .ui-datepicker-title select {
	    margin-top: 2.5%;
    color: #fff;
    font-size: 1rem;
}



.important-information .row {
	max-width: 900px;
}

.important-information .draw {

    padding: 0;
    transition: background 0.33s;
    transition-delay: 0.1s;
    margin-top: 0;
    font-size: 0.8rem;


}

.important-information h4 {
border-bottom: 1px solid #000;
    padding: 0 0 10px 0;
    margin: 0 0 20px 0;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;

}

.important-information h4:after {
	content:'\f107';
	font-family: 'FontAwesome';
	transition: all 0.3s ease;
	transition-delay: 0.2s;
	float:right;
	
}

.important-information h4.active:after {
	content:'\f107';
	font-family: 'FontAwesome';
	transform: rotate(180deg);
	
}


ul.contacts li {
	padding-left:60px;
	 padding-top:15px;
}

ul.contacts li p {
	margin-bottom:0;
}

ul.contacts li:first-child:before {
display: block;
    content: '';
    background-image: url(../images/ico_phone.png);
    background-size: contain;
    margin-left: -60px;
    float: left;
    margin-top: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
}

ul.contacts li:last-child:before {
display: block;
    content: '';
    background-image: url(../images/ico_location.png);
    background-size: contain;
    margin-left: -60px;
    float: left;
    margin-top: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
}



body .gform_wrapper .chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 10px 8px 10px!important;
    border:0;
	border-bottom: 4px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    background: #f2f2f2!important;
    background-clip: padding-box;
    box-shadow:none;
    height:51px;
    line-height: 51px;
    color: #444;
    text-decoration: none;
    white-space: nowrap;
 
}

body .gform_wrapper .chosen-container-active.chosen-with-drop .chosen-single {
	    border: 0;
	    border-bottom: 4px solid rgba(0,0,0,0.1);
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    box-shadow: 0;

}


body .gform_wrapper .chosen-container-single .chosen-single div b {
	background: none!important;
}

body .gform_wrapper .chosen-container-single .chosen-single div b:before {
		color:#666;
		font-family: "FontAwesome";
		content:'\f175';
}


body .gform_wrapper .chosen-container-single .chosen-search input[type=text] {
	background: none;
	border-color:#ccc;
}


body .gform_wrapper .chosen-container-single .chosen-search {
	padding:10px;
}

body .gform_wrapper .chosen-container-single .chosen-search:after {
	font-family: "FontAwesome";
		content:'\f002';
		position: absolute;
		right:25px;
		top:20px;
		color:#ccc;
}

body .gform_wrapper .chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    left: -9999px;
    z-index: 1010;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    border-top: 0;
    background: #f2f2f2;
    box-shadow: 0 10px 10px rgba(0,0,0,.02);
}

body .gform_wrapper .chosen-container .chosen-results {
	margin:5px 10px;
}

li.active-result-highlighted {
	background-image: none!important;
	background-color:#eee!important;
}


#input_2_13SelectBoxItContainer {
display:none!important;
}




.learn-more .time-takes {
	display: block;
	float:left;
	width:100%;

	margin-bottom:2em;

	display: flex;
	text-align: left;
	 display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.learn-more .time-takes img {
	display: inline-block;
	max-height: 90px;
	width:auto;
	margin:0;
}

.learn-more .time-takes p {
isplay: inline-block;
    float: none;
    line-height: 1.3;
    padding-left: 20px;
    font-size: 1.7rem;
}

