/* FRAMEWORK */ 

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}



a[href^="tel"]{
    color:inherit;
    text-decoration:none;
}


html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

a {
	cursor: pointer;
}


html, body {
	padding:0; 
	margin:0;
}

*,:after,:before {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box
	}

.container {
	position:relative;
	clear:both;
	overflow:hidden;
	padding:0;
	margin:auto;
	width:100%;
	}

.row {
    overflow: hidden;
    max-width: 1280px;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    padding:0 2em;
}


.span_12 {
	width: 100%;
	margin-right:0;
}

.span_11 {
  	width: 91.41%;
}
.span_10 {
  	width: 82.83%;
}

.span_9 {
  	width: 74.25%;
}

.span_8 {
  	width: 65.66%;
}

.span_7 {
  	width: 57.08%;
}

.span_6 {
  	width: 48.5%;
}

.span_5 {
  	width: 39.91%;
}

.span_4 {
  	width: 31.33%;
}

.span_3 {
  	width: 22.75%;
}

.span_2 {
  	width: 14.16%;
}

.span_1 {
  	width: 5.583%;
}



[class*=span_] { margin-right:3%;float:left; min-height:1px;}

[class*=span_]:last-of-type{margin-right:0}

img{max-width:100%;width:100%;height:auto}

p:first-child {
	margin-top:0;
}

p:last-child {
	margin-bottom:0;
}

input:focus, textarea:focus {
	outline: none;
}

.padding {
	padding:60px 0;
}

.padding-bottom {
	padding: 0 0 60px 0;
}





article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	quotes: none;
}

a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}

body,
button,
input,
select,
textarea {
	color: #333;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.6;
	font-weight: 300;	
}

body:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
	outline: none;
}


blockquote p {
	margin-bottom: 1.6667em;
}

blockquote > p:last-child {
	margin-bottom: 0;
}

blockquote cite,
blockquote small {
	color: #333;
	font-size: 15px;
	font-size: 1.5rem;
	font-family: "Noto Sans", sans-serif;
	line-height: 1.6;
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

address {
	font-style: italic;
	margin: 0 0 1.6em;
}




/* Place Holder CSS */
::-webkit-input-placeholder {
  color: #666;
  opacity: 0.5;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:-moz-placeholder {
  color: #666;
  opacity: 0.5;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
::-moz-placeholder {
  color: #666;
  opacity: 0.5;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:-ms-input-placeholder {  
  color: #666;
  opacity: 0.5;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

/* Place Holder CSS for Focus */
:hover::-webkit-input-placeholder {
  opacity: 0.75;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:hover:-moz-placeholder {
  opacity: 0.75;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:hover::-moz-placeholder {
  opacity: 0.75;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:hover:-ms-input-placeholder {  
  opacity: 0.75;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

/* Place Holder CSS for Focus */
:focus::-webkit-input-placeholder {
  opacity: 0.2;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0.2;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0.2;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus:-ms-input-placeholder {  
  opacity: 0.2;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}


