@media screen and (max-width: 1280px) {
		
	.header .row {
	max-width: 100%;
	overflow: visible;

	}
	
	.logo img {
	max-width: 140px;
	}
	
	.logo {
	float: left;
	margin-top: 8px;
	height: 67px;
	}
	
	a.get-connected img {
	max-width: 130px;
	}
	
	
	.testimonials .flex-direction-nav .flex-prev {
		left:-10px
	}
	
	.testimonials .flex-direction-nav .flex-next {
		right:-10px;
	}
	
	.testimonials h5 {
    font-size: 1.3rem;
    
    }


}



@media screen and (max-width: 1024px) {
	
	
	.promo {		
	    height: auto;
    background: #46166b;
    padding-top: 15px;
    padding-bottom: 15px;
    }
    
    .promo span {
	    font-size: 0.55rem;
    }
    
    .promo .tag-line p {
	    font-size: 1.4rem;
    }

	
	.promo ul {
	max-width: 650px;
	width: 100%;
	float: left;
	}
	
	
	.menu-main-menu-container {
		float: right;
    width: 100%;
    max-width: 470px;
    text-align: center;
	z-index: 2;
	font-size: 0.7rem;
	}
	
	.menu li {
		line-height: 2;
	}
	

	
		
}



@media screen and (max-width: 960px) { 



.banner-text {
	top:63%;
}


.menu-item-has-children.active:after {
	content:'\f106';
}

.ginput_container_date:after {
	top:16px;
}


.page-id-113 .logo img {
	margin-top:15px;
}


.pride .row.inner {
	max-width: 600px;
	
}

.connect-all .span_3 {
    width: 25%;
    padding: 10px;
}


.pride .span_4 {
	
	max-width: 100%;
	float:left;
	
}



.pride .span_4 img {
	width: 20%;
	float:left;
}


.pride .span_4 p {
	width:80%;
	float:left;
	text-align: left;
}



.current-menu-parent.current_page_parent a {
	color:#46166b!important
}


.menu li.active .sub-menu a {
	color:#46166b!important;
}


	
	.span_1, .span_2, .span_3, .span_4, .span_5, .span_6, .span_7, .span_8, .span_9, .span_10, .span_11, .span_12 {
	margin-right:0;
	width:100%;
	}
	
	.promo .tag-line {
	font-size: 1.300rem;
    float: left;
    margin-top: 13px;
    text-align: center;
    width: 100%;
    }
    
    
.learn-more .row.inner {
    max-width: 600px;
}
    
	
	.promo {
    height: auto;
    background: #46166b;
    padding-top: 30px;
    padding-bottom: 20px;
    }
	
	.promo ul {
	max-width: 100%;	
	text-align: center;
	}
	
	.promo ul li {
	width:13%;
	}
	
	.learn-more .col {
	width: 100%;
	float: left;
	}
	
	
	.footer .span_4 a {

    text-decoration: none;
    text-align: center;
    padding-top: 20px;
    position: relative;
    top: 0;
    margin: 0;
    left: 0;
        margin: 0 3px 15px 3px;
}


.faqs h4.active, .faqs .draw.active {
	background: transparent;
}

.draw {
	padding:20px 40px 20px 0px;
}

.copyright {
	text-align: center;
}

.footer .span_4 a.logo {
	left:50%;
	margin-left:-84px;
	margin-top:20px;
}
	
	
	.footer .span_4:nth-child(1), .footer .span_4:nth-child(2)  {
		width:49%;
		
	}
	
	.footer {
		text-align: center;
	}
	
	
	.social-share {
		text-align: center;
	}
	
	.pride h2 {
    font-size: 1.5em;
    margin-bottom: 30px;
    line-height: 1.2;
	}
	
	.testimonials .flexslider {
	padding: 0 2em;
	}
	
	.australian-owned p {
    margin: 0;
    text-align: center;
    color: #fff
}
	
	.testimonials .padding {
		padding:60px 0;
	}
	
	.testimonials .flex-direction-nav {
	display: none;
	}
	
	.pride .span_4 {
		margin-bottom:40px;
	}
	
	.pride .span_4 p {
		padding:0 2em 0 2em;
	}
	
	.learn-more .col:first-child {
	border-right: none;
	padding-right: 0;
	padding-bottom: 80px;
	}
	
	.learn-more p {
    margin: 0;
    padding: 0 3em;
	}
	
	.learn-more .col:last-child {
    padding-left: 0;
	}
	
	.promo img {
    max-height: 30px;
    width: auto;
	}
	
	.connect-all .border {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 0 0 20px 0;
	}
	

	
	.connect-all span {
    display: block;
    line-height: 1.1;
    font-size: 1rem;
    margin-bottom: 10px;
	}
	

	.promo span {
    display: block;
    width: 100%;
    font-size: 0.7rem;
	}
	
	
	.connect-all h2 {
    font-size: 1.6em;
    margin-bottom: 20px;
    padding: 0 1em;
    line-height: 1.2;
}	
	
	.banner .flex-direction-nav {
		display: none;
	}
	

	
	.header {
		height:60px;
		line-height: 60px;
	}
	
	a.get-connected {
	height: 50px;
    line-height: 60px;
    padding: 0 30px;
	}
	
	.row {
	padding-left:1em;
	padding-right:1em;
	}
	
	.header .row {

	background-color
	}

	.logo img {
    max-width: 180px;
    margin-top: 8px;
	}
	
	article.post img {
	padding:0;
	max-width: 100%;
	}
	
	article.post h3 {
	margin: 1em 0 0.5em;
	font-size: 1.3rem;
    float: left;
    width: 100%;
    font-weight: normal;
	}
	
	article.post h3, article.post p {
	padding:0 1em;	
	}
	
.menu-main-menu-container, .menu-holder {
    display: none;
    visibility: hidden;
    top: 60px;
    background: #333333;
    left: 0;
    padding: 0;
    transition: all 0.2s ease;
    max-width: 100%;
}


.menu-holder  {
	overflow: scroll;
    position: absolute;
    top: 60px;
    width: 100%;
    height: 100vh;
    background: #333333;
    left: 0;
    padding: 0;
    transition: all 0.2s ease;
    max-width: 100%;
}

.menu-active .menu-holder {
		    display: block;
	    visibility: visible;
}


.menu-main-menu-container {
	top:0;
}

.menu {
	    margin: 0;
    padding: 0;
    height: 85px;
}



body {
	transition:0.2s;
	left:0;
	
}


	
	
	.menu-active .menu-main-menu-container {
	    display: block;
		transition:0s;
    visibility: visible;

	}
	
	
	.menu-holder {
		transition:0s;
	}
	
	.additional-services .span_2 {
		width:33%;
		margin-bottom:40px;
	}
	
	
	.additional-services h4 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    line-height: 1.3;
    padding:0 3em;
}

.row.how-it-works .span_10 {
	padding:0;
}



.page .services img {
	max-width: 100%;
	margin:0;
	padding:0 60px;
	margin-bottom:20px;
}

	.custom-list {
	text-align: center;
	margin-bottom:40px;
	}
	
	.menu li a {
	display: inline-block;
    margin-right: 0;
    background: transparent;
    margin: 0;
    width: 100%;
    float: left;
    text-align: left;
    line-height: 1;
    padding: 0 1em;
    font-weight: bold;
    position: relative;
    margin: 0;
    padding: 25px 20px;
	
    font-size: 1.5rem;
    font-weight: 400;
	}
	
	
	 .menu-trigger:before {
		 font-family: FontAwesome;
	 }
	
	 .menu-trigger:before {
		content:'\f0c9';
		margin-right:8px;
	}

.menu-active .menu-trigger:after {
	content:'Close';
}

	.menu-active .menu-trigger:before {
		content:'\f00d';
	}
	
	.menu li {
	display: inline-block;
	margin-right: 0;
	background: transparent;
	position: relative;
	margin: 0;
	width: 100%;
	float: left;
	text-align: left;
	line-height: 1;
	border-bottom: 1px solid #666;
	}

		
	.menu li > .sub-menu {
	display: block;
	position: relative;
	opacity: 0;
	visibility: hidden;
	background: transparent;
	max-width: 100%;
	padding: 0;
	margin-left: 0;
	margin-top: 0;
	z-index: 1;
	transition: 0;
	display: none;
	}
	
	
	.menu .sub-menu li {
		border-top:1px solid #444;
		border-bottom:0;
	}

	
	
	.service-menu ul {
		display: none;
	}
	
	.service-brands .row.inner {
		display: block!important;
		margin-top:60px;
	}
	
	.service-menu .row:before {
		display: none;
	}
	
	.menu .sub-menu li a {
     display: block;
    padding: 15px 20px;
    width: 100%;
    font-weight: 300;
    color: #ccc;
    font-size: 0.9rem;
}


.menu li.active a {

	color:#46166b!important;
	
	}
	
	
	
.menu li.active .sub-menu a {

	color:#fff!important;
	
	}


	
	.menu li > .sub-menu li {
		padding:0;
	}
	
	.menu-item-has-children:after {
     position: absolute;
    top: 26px;
    right: 1em;
    font-size: 1.5rem;
	}
	
	
	.menu li.active > .sub-menu {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
    transition: 0.3s;
    display: block;
    margin-bottom: 0;
    float: left;
    width: 100%;
   	}
	
	.menu li > .sub-menu a:before {
		content:'- ';
	}
	

	
	.page-template-template-connect-online .menu-back {
    display: block;
    float: right;
    color: #000;
    text-decoration: none;
    margin-right: 1em;
}

.australian-owned .span_4:last-child .vertical-align {
    margin-top: 0;
    font-size: 1.5rem;
    padding: 0 0 0 1.4em;
    margin: 0 0 30px 0;
}



	.australian-owned {
    height: auto;
    color: #000;
    background: #46166b;
    text-align: center;
}

.australian-owned .vertical-align {
    margin-top: 0;
    text-align: left;
    padding: 0 0 0 2.2em;
}
	
	section.contact {
		background: transparent;
			text-align: center;
	}
	
	.page-template-template-connect-online .header h1 {
    font-size: 1rem;
    display: inline-block;
    width: 160px;
    margin: auto;
    left: 50%;
    position: absolute;
    margin-left: -54px;
}
	

	
	section.contact .span_6 {
		padding:0 2em;
		margin-bottom:40px;
	}
	
	.page-header h1 {
    bottom: 30px;
    font-size:2.6rem;
    font-weight: normal;
	}
	
	.padding {
	padding:30px 0;
	}
	
	.back-top {
    margin: 30px 0;
    display: block;
    width: 100%;
    text-decoration: none;
    float: left;
	}
	
	.footer .span_4:last-child {
	text-align: left;	
	}
	
	.footer .span_4 {
	margin-bottom:40px;
	}
	
	.copyright p:last-child, .copyright p {
	width:100%;
	text-align: left;
	}
	
	

.menu-trigger {
    display: block;
    height: 60px;
    padding-right: 20px;
    float: right;
    position: relative;
    cursor: pointer;
    padding-left: 20px;
    z-index: 3;
    color:#fff;
}


.menu-active .menu-trigger  {
	background: #333;
}

.menu-trigger i {
	margin-right:8px;
}

	
	.menu-trigger:after {
	content: 'Menu';
	
	}
	
	

		
	.banner-text p:first-child {
	font-size: 1.8rem;
	}
	
	.banner-text p:last-child {
	font-size: 2rem;
	line-height: 1;
	font-weight: 300;
	}
	
	
	
	.how-it-works .span_2 {
		width:30%;	
	}
	
	.how-it-works .span_10 {
		width:70%;
		text-align: left;	
	}

	.services .span_6 img {
		width:30%;
	}
	
	.services .span_6 {
		padding-right:2em;
	}
	
	.service-brands .span_5 {
    float: left;
    width:30%;
        padding-left:2em;
}

	.service-brands .span_7 {
    float: left;
    width:70%;
    padding-right:2em;
    padding-left:2em;
}



article.post {
	width:50%;
	padding:0 1em;
}


article.post:nth-child(odd) {
	display: block;
	clear:both;
	
}


.faqs h4:before {
    content: '';
    float: left;
    width: 40px;
    height: 40px;
    background-image: url(../images/ico_question.png);
    background-size: cover;
    margin-right: 20px;
}

.faqs h4 {
    font-size: 1.2rem;
    padding: 15px 30px 15px 30px;
    line-height: 40px;
    transition: background 0.33s;
    transition-delay: 0.1s;
}

.page-id-113 .logo {
	left:0;
	margin:0;
}


.row.inner, .row {
	max-width: 700px;
}


body .gform_wrapper ul.gfield_checkbox li, body .gform_wrapper ul.gfield_radio li {
	width:50%;
}


.menu a:hover, .menu li:hover > a, .menu > li.current-menu-parent a, .menu > li.current-menu-item a, .menu > li.current-menu-parent .sub-menu a:hover, .menu > li.current-menu-item .sub-menu a:hover {
	color:#fff;
}


.page-header img, .flexslider .slides img {
	transform: none!important;
}



.choose-language.desktop {
	padding:0 40px 0 20px;
	margin:0;
}


.single article.post {
	width:100%;
	padding-top:40px;
}
 
 
 .single-post section.single-blog article.post date {
    left: 50%;
    margin-left: -30px;
    top: -62px;
}



.menu a:hover, .menu li:hover > a, .menu > li.current-menu-parent a, .menu > li.current-menu-item a, .menu > li.current-menu-parent .sub-menu a:hover, .menu > li.current-menu-item .sub-menu a:hover, .menu li.active .sub-menu a:hover {
	color:#fff!important;
}


.menu-trigger, .choose-language.desktop {
	line-height: 82px;
}

.menu-trigger:hover, .choose-language.desktop:hover {
	color:#fff;
	opacity: 1;
}

.menu-holder {
	top:90px
}

.menu-trigger {
	height:90px;
}


.header {
	height: 90px;
    line-height: 90px;
}


}



@media screen and (max-width: 640px) {

	.page-template-template-connect-online .header h1 {
	display: none;
	}
	
	.logo img {
	max-width: 90px;
	margin-top: 12px;
	}
	
	.copyright p:last-child, .copyright p {
	text-align: center;
	}
	
	.logo {
	float: left;
	margin-top: 4px;
	height: 60px;
	}
	
	.remodal .content {
	padding: 40px 20px;
	overflow: hidden;
	}
	
	.promo ul li {
	width: 33.33%;
	margin-bottom: 30px;
	}
	
	.promo img {
	max-height: 30px;
	width: auto;
	}
	
	.promo span {
	display: block;
	width: 100%;
	font-size: 0.9rem;
	}
	
	.promo .tag-line {
	font-size: 1.300rem;
	float: left;
	margin-top: 0;
	text-align: center;
	width: 100%;
	}
	
	.promo {
	height: auto;
	background: #46166b;
	padding-top: 35px;
	padding-bottom: 30px;
	}
	
	.footer .span_4:nth-child(1), .footer .span_4:nth-child(2) {
	width:100%;
	}
	
	.choose-language.desktop {
	display: none;
	}
	
	.menu-active .choose-language.mobile {
	display: block;
	float: left;
	margin-left: 20px;
	margin-top: 40px;
	border-bottom: 1px solid #999;
	line-height: 1.4;
	}
	
	body .gform_wrapper li.gf_left_half, body .gform_wrapper .top_label li.gfield.gf_left_half {
	width:100%;
	margin:0;
	}

	.australian-owned .span_4:last-child .vertical-align {
	padding: 0;
	}

	.faqs h4:before {
	display: none;
	}

	.faqs h4:after {
	font-family: FontAwesome;
	content: '\f067';
	float: right;
	font-size: 1rem;
	margin-right: 0;
	position: absolute;
	right: 0;
	top: 18px;
	}

	.faqs h4 {
	font-size: 1.2rem;
	padding: 15px 30px 15px 0;
	line-height: initial;
	transition: background 0.33s;
	transition-delay: 0.1s;
	position: relative;
	}
	
	section.content ul.styled h3 {
	font-size: 1.5rem;
	line-height: initial;
	margin-bottom: 30px;
	}
	
	section.content ul.styled > li:before {
	display: none;
	}
	
	section.content ul.styled > li {
	margin:0;
	}
	
	article.post {
	width:100%;
	padding:0 1em;
	}

	article.post:nth-child(odd) {
	display: block;
	clear:both;
	}

	.service-brands .span_5 {
	float: left;
	width:100%;
	}
	
	.service-brands .span_7 {
	float: left;
	width:100%;
	padding-right:2em;
	padding-left:2em;
	}

	.additional-services .span_2 {
	width:50%;
	margin-bottom:40px;
	}

	.banner-text p:first-child {
	font-size: 1.2rem;
	}
	
	.banner-text p:last-child {
	font-size: 1.438rem;
	line-height: 1;
	font-weight: 300;
	}

	.how-it-works .span_2 {
	width:100%;	
	}
	
	.how-it-works .span_10 {
	width:100%;
	text-align: center;	
	}
	
	.page-header h1 {
	bottom: 30px;
	font-size: 1.3rem;
	font-weight: normal;
	}
	
	a.get-connected {
	width:80px;
	line-height: 63px;
	position: relative;
	}
	
	a.get-connected img.mobile {
	display: block;
	}
	
	a.get-connected img.desktop {
	display: none;
	}
	
	a.get-connected img {
	margin:0;
	}
	
	a.get-connected {
	padding:0;
	}

	.choose-language {
	display: none;
	}
	
	.connect-all .span_3 {
	width: 50%;
	padding:10px;
	}

	.menu li a {
	font-size: 1rem;
	}
	
	.menu-item-has-children:after {
	position: absolute;
	top: 21px;
	right: 1em;
	font-size: 1.5rem;
	}
	
	.logo img {
	max-width: 100px;
	}
	
	.header {
	background: #46166b;
	height:70px;
	line-height: 70px;
	}
	
	a.get-connected img.mobile {
	display: none;
	}
	
	.menu-trigger {
	height: 70px;
	line-height: 70px;
	}
	
	body {
	padding-top:70px;
	}
	
	.banner-text {
	top: 50%;
	padding: 0 2em;
	}
	
	a.get-connected {
	display: none;	
	}
	
	.menu-holder {
	top:70px;	
	}
	
	.header .row {
	padding-right:0;	
	}
	
	.header {
	background: #222;	
	}
		
}






@media screen and (max-width: 373px) {

.logo img {
    max-width: 110px;
    margin-top: 17px;
}





}


