﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Astute</title>
    <link rel="shortcut icon" href="/favicon.ico">


    <link rel="canonical" href="http://astute.myconnect.com.au/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Astute Connect -" />
    <meta property="og:url" content="http://astute.myconnect.com.au/" />
    <meta property="og:site_name" content="Astute Connect" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Astute Connect -" />

    <link rel='stylesheet' id='framework-css' href='/wp-content/themes/myconnect/css/framework.css' type='text/css' media='all' />
    <link rel='stylesheet' id='desktop-css' href='/wp-content/themes/myconnect/css/desktop.css' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css' href='/wp-content/themes/myconnect/css/responsive.css' type='text/css' media='all' />
    <script type='text/javascript' src='/wp-includes/js/jquery/jquery.js'></script>
    <script type='text/javascript' src='/wp-includes/js/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='/wp-content/plugins/google-language-translator/js/flags.js'></script>
    <style type="text/css">
        p.hello {
            font-size: 12px;
            color: darkgray;
        }

        #google_language_translator, #flags {
            text-align: left;
        }

        #google_language_translator {
            clear: both;
        }

        #flags {
            width: 165px;
        }

            #flags a {
                display: inline-block;
                margin-right: 2px;
            }

        .goog-tooltip {
            display: none !important;
        }

            .goog-tooltip:hover {
                display: none !important;
            }

        .goog-text-highlight {
            background-color: transparent !important;
            border: none !important;
            box-shadow: none !important;
        }

        #google_language_translator a {
            display: none !important;
        }

        .goog-te-gadget {
            color: transparent !important;
        }

        .goog-te-gadget {
            font-size: 0px !important;
        }

        .goog-branding {
            display: none;
        }

        #google_language_translator {
            display: none;
        }

        .goog-te-banner-frame {
            visibility: hidden !important;
        }

        body {
            top: 0px !important;
        }
    </style>

    @RenderSection("Head", required: false)

</head>
<body class="page">
    <div id="preloader">


        <div class="middle">

            <div id="status"></div>

        </div>


    </div>

    <header id="header" class="container header">


        <div class="row">

            <a class="logo" href="/">


                <img src="/wp-content/themes/myconnect/images/logo.png" alt="My Connect">
            </a>


            <a class="get-connected" data-remodal-target="connected">

                <img class="desktop" src="/wp-content/themes/myconnect/images/ico_get-connected.png" alt="Get Connected with My Connect">
                <img class="mobile" src="/wp-content/themes/myconnect/images/ico_get-connected-mobile.jpg" alt="Get Connected with My Connect">

            </a>

            <a class="choose-language desktop" data-remodal-target="language">Language</a>

            <div class="menu-trigger"></div>



            <a class="menu-back" href="/"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>


            <div class="menu-holder">

                <div class="menu-main-menu-container">
                    <ul id="menu-main-menu" class="menu">
                        <li id="menu-item-5" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5">
                            <a href="/home/about">About</a>
                            <ul class="sub-menu">
                                <li id="menu-item-321" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-321"><a href="/home/about">About Us</a></li>
                                <li id="menu-item-125" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-125"><a href="/home/howitworks">How it works</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-14" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-14">
                            <a href="/services/">Services</a>
                            <ul class="sub-menu">
                                <li id="menu-item-77" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77"><a href="/services/electricity/">Electricity</a></li>
                                <li id="menu-item-76" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76"><a href="/services/gas/">Gas</a></li>
                                <li id="menu-item-75" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-75"><a href="/services/water/">Water</a></li>
                                <li id="menu-item-73" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-73"><a href="/services/internet/">Internet &#038; Phone</a></li>
                                <li id="menu-item-72" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-72"><a href="/services/paytv/">Pay TV</a></li>
                                <li id="menu-item-72" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-72"><a href="/services/insurance/">Insurance</a></li>
                                <li id="menu-item-491" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-491"><a href="/services/truckhire/">Truck Hire</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-127" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-127">
                            <a href="/home/movingchecklist">Moving tips</a>
                            <ul class="sub-menu">
                                <li id="menu-item-126" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-126"><a href="/home/movingchecklist">Moving checklist</a></li>
                                <li id="menu-item-80" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-80"><a href="/home/faq/">FAQs</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17"><a href="/home/contact">Contact</a></li>
                    </ul>
                </div>
                <a class="choose-language mobile" data-remodal-target="language">Choose Language</a>

            </div>


        </div>


    </header>


    <!-- modal window for "connected" -->
    <div class="remodal connected" data-remodal-id="connected" data-remodal-options="hashTracking: false, closeOnOutsideClick: true">

        <button data-remodal-action="close" class="remodal-close"></button>

        <h1><img src="/wp-content/themes/myconnect/images/ico_get-connected.png" alt="Get Connected with My Connect"></h1>

        <div class="content">


            <p>Call Astute Connect on:</p>

            <p><a class="tele" href="tel:1300854478"><strong>1300 854 478</strong></a></p>

            <div class="vs">or</div>

            <p>Fill out our form online:</p>

            <p><strong><a href="/connect">Connect Online</a></strong></p>

        </div>

    </div>





    <!-- modal window for "language" -->
    <div class="remodal language" data-remodal-id="language" data-remodal-options="hashTracking: false, closeOnOutsideClick: true">

        <button data-remodal-action="close" class="remodal-close"></button>

        <h1>Choose your language</h1>

        <div class="content">

            <ul>

                <li data-remodal-action="confirm"><a class='nturl notranslate en single-language flag' title='English'>English</a></li>
                <li data-remodal-action="confirm"><a class='nturl notranslate zh-CN single-language flag' title='Chinese'>中文</a></li>
                <li data-remodal-action="confirm"><a class='nturl notranslate zh-TW single-language flag' title='Chinese(Traditional)'>中國傳統的</a></li>
                <li data-remodal-action="confirm"><a class='nturl notranslate hi single-language flag' title='Hindi'>हिंदी</a></li>
                <li data-remodal-action="confirm"><a class='nturl notranslate vi single-language flag' title='Vietnamese'>Tiếng Việt</a></li>
                <li data-remodal-action="confirm"><a class='nturl notranslate th single-language flag' title='Thai'>ไทย</a></li>
                <li data-remodal-action="confirm"><a class='nturl notranslate ms single-language flag' title='Malay'>Malay</a></li>
                <li data-remodal-action="confirm"><a class='nturl notranslate tl single-language flag' title='Filipino'>Filipino</a></li>
                <li data-remodal-action="confirm"><a class='nturl notranslate iw single-language flag' title='Hebrew'>עִברִית</a></li>
                <li data-remodal-action="confirm"><a class='nturl notranslate pa single-language flag' title='Punjabi'>ਪੰਜਾਬੀ ਦੇ</a></li>
                <li data-remodal-action="confirm"><a class='nturl notranslate it single-language flag' title='Italian'>Italiano</a></li>
                <li data-remodal-action="confirm"><a class='nturl notranslate tr single-language flag' title='Turkish'>Türk</a></li>
                <li data-remodal-action="confirm"><a class='nturl notranslate es single-language flag' title='Spanish'>Español</a></li>
                <li data-remodal-action="confirm"><a class='nturl notranslate single-language flag' title='Portugese'>Português</a></li>
                <li data-remodal-action="confirm"><a class='nturl notranslate de single-language flag' title='German'>Deutsche</a></li>


            </ul>

        </div>

    </div>


    @RenderBody()



    <footer class="container padding footer">

        <div class="row">

            <div class="span_4">


                <h4>Get in touch</h4>



                <ul class="contacts">

                    <li>
                        <p><a class="tele" href="tel:1300854478">1300 854 478</a></p>
                        <p><a href="mailto:enquiries@myconnect.com.au">enquiries@myconnect.com.au</a></p>

                    </li>

                    <li>
                        <p><strong>Astute Connect</strong><br>

                        <p>
                            GPO Box 4778<br>
                            Melbourne, VIC 3001<br>
                            Australia
                        </p>


                    </li>

                </ul>

            </div>

            <div class="span_4">

                <!-- Emptyt blog content section -->

            </div>

            <div class="span_4">

                <a class="scroll back-top" id="back-to-top" href="#"><i class="fa fa-caret-up" aria-hidden="true"></i> BACK TO TOP</a>

                <a class="logo" href="/"><img src="/wp-content/themes/myconnect/images/logo.png" alt="My Connect"></a>

                <div class="social-share">



                </div>

            </div>

        </div>

    </footer>


    <div class="container copyright">

        <div class="row">


            <p>Copyright &copy; MyConnect. All Rights Reserved | <a href="/home/privacy">Privacy Policy</a> | <a href="/home/terms">Terms &amp; Conditions</a></p>


        </div>

    </div>





    <script>

        jQuery(window).load(function () { jQuery("#preloader").delay(1).fadeOut("fast"), jQuery("#preloader .middle").delay(1).fadeOut("fast") });

    </script>
    <script>jQuery(document).ready(function (a) { a("a.nturl").on("click", function () { function l() { doGoogleLanguageTranslator(default_lang + "|" + default_lang) } function n() { doGoogleLanguageTranslator(default_lang + "|" + lang_prefix) } default_lang = "en", lang_prefix = a(this).attr("class").split(" ")[2], lang_prefix == default_lang ? l() : n() }), a("a.flag").on("click", function () { function l() { doGoogleLanguageTranslator(default_lang + "|" + default_lang) } function n() { doGoogleLanguageTranslator(default_lang + "|" + lang_prefix) } default_lang = "en", lang_prefix = a(this).attr("class").split(" ")[2], a(".tool-container").hide(), lang_prefix == default_lang ? l() : n() }), 0 == a("body > #google_language_translator").length && a("#glt-footer").html("<div id='google_language_translator'></div>") });</script>

    <div id="flags" style="display:none"><ul id="sortable" class="ui-sortable"><li id='English'><a title='English' class='notranslate flag en united-states'></a></li></ul></div><div id='glt-footer'></div>
    <script type='text/javascript'>function GoogleLanguageTranslatorInit() { new google.translate.TranslateElement({ pageLanguage: 'en', autoDisplay: false }, 'google_language_translator'); }</script>
    <script type='text/javascript' src='//translate.google.com/translate_a/element.js?cb=GoogleLanguageTranslatorInit'></script>
    <script type='text/javascript' src='/wp-content/themes/myconnect/js/scripts.js'></script>
    <script type='text/javascript' src='/wp-content/themes/myconnect/js/lib.js'></script>
    <script type='text/javascript' src='/wp-includes/js/wp-embed.min.js'></script>
    <script type='text/javascript' src="https://use.fontawesome.com/4a5b84d135.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
