﻿
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<section class="container padding additional-services">

    <div class="row inner">

        <h4>Check out our other services that we connect - <strong>for free!</strong></h4>

    </div>

    <div class="row inner">

        <div class="span_2">

            <a href="/services/electricity/">

                <img src="/wp-content/themes/myconnect/images/ico_electricity.png" alt="We offer electricity services">

                <span>Electricity</span>

            </a>

        </div>

        <div class="span_2">

            <a href="/services/gas/">

                <img src="/wp-content/themes/myconnect/images/ico_gas.png" alt="We offer egas services">

                <span>Gas</span>

            </a>

        </div>



        <div class="span_2">

            <a href="/services/internet/">

                <img src="/wp-content/themes/myconnect/images/ico_internet.png" alt="We offer internet and phone services">

                <span>Internet &amp; Phone</span>

            </a>

        </div>



        <div class="span_2">

            <a href="/services/paytv/">

                <img src="/wp-content/themes/myconnect/images/ico_tv.png" alt="We offer Pay TV services">

                <span>Pay TV</span>

            </a>

        </div>


        <div class="span_2">

            <a href="/services/water/">

                <img src="/wp-content/themes/myconnect/images/ico_water.png" alt="We offer water services">

                <span>Water</span>

            </a>

        </div>


        <div class="span_2">

            <a href="/services/truckhire//">

                <img src="/wp-content/themes/myconnect/images/ico_truck.png" alt="We offer water services">

                <span>Truck Hire</span>

            </a>

        </div>



    </div>


</section>