﻿
@{
    ViewData["Title"] = "Electricity";
}

<section class="container page-header">



    <h1>
        <span>
            Electricity
        </span>
    </h1>




    <img width="1440" height="615" src="/wp-content/uploads/2016/06/sub_electricity-1-1440x615.jpg" class="attachment-banner-image size-banner-image wp-post-image" alt="sub_electricity" />



</section>


<section class="container padding content center-align">

    <div class="row">


        <h2>We are partnered with a wide range of providers with flexible options for your electricity connection.</h2>
        <p>Our friendly staff can help ensure your electricity connection is efficient and easy. We can connect electricity on the next business day if we speak to you by midday, or depending on your area, we may be able to organise same day connections. You can have peace of mind with our connection guarantee, ensuring your electricity is connected on the agreed day or we will cover the expenses.</p>





    </div>

</section>


<section class="service-menu">

    <div class="row inner">


        <ul id="tabs">


            <li><a href="#service-1">Origin</a></li>


            <li><a href="#service-2">Energy Australia</a></li>


            <li><a href="#service-3">AGL Energy</a></li>


            <li><a href="#service-4">ActewAGL</a></li>


            <li><a href="#service-5">Powershop</a></li>


            <li><a href="#service-6">Sumo Power</a></li>


            <li><a href="#service-7">Red Energy</a></li>


        </ul>


    </div>

</section>



<section class="container padding service-brands">


    <div id="content" class="tabs">



        <div id="service-1" class="tab row inner" style="display: none;">

            <div class="span_5 center-align">


                <img src="/wp-content/uploads/2016/06/logos_origin-300x222.gif" alt="" />


            </div>

            <div class="span_7">

                <h4>Origin</h4>

                <p>Origin is proud to be one of Australia’s leading energy companies selling energy to Australian homes, businesses and industrial customers. They’re also Australia’s largest green energy retailer providing GreenPower, Green Gas and LPG, and have more than a decade of experience in large-scale renewable generation covering wind and solar.  The Origin call centre operates from 7am to 9pm weekdays and Saturdays 9am to 5pm. Their residential products come with no exit fees or lock in contracts.</p>


















            </div>

        </div>






        <div id="service-2" class="tab row inner" style="display: none;">

            <div class="span_5 center-align">


                <img src="/wp-content/uploads/2016/06/logos_energy_aus-300x222.gif" alt="" />


            </div>

            <div class="span_7">

                <h4>Energy Australia</h4>

                <p>Energy Australia service over 2.6 million households and businesses across Australia. They are one of Australia's largest and most experienced energy companies. They own a multibillion dollar portfolio of energy generation and storage facilities including coal, gas and wind assets. They offer straightforward electricity and gas plans for New South Wales, Victoria, South Australia and Australian Capital Territory, and electricity plans for Queensland.</p>


















            </div>

        </div>






        <div id="service-3" class="tab row inner" style="display: none;">

            <div class="span_5 center-align">


                <img src="/wp-content/uploads/2016/06/AGL_Logo_Vertical_RGB-300x285.png" alt="" />


            </div>

            <div class="span_7">

                <h4>AGL Energy</h4>

                <p>AGL is one of Australia's leading integrated energy companies and largest ASX listed operator and developer of renewable energy generation in the country. Drawing on almost 180 years of experience, AGL Energy provides gas, electricity, solar PV and related products and services to more than 3.6 million customer accounts across Australia.</p>


















            </div>

        </div>






        <div id="service-4" class="tab row inner" style="display: none;">

            <div class="span_5 center-align">


                <img src="/wp-content/uploads/2016/06/logos_actewAGL-300x107.gif" alt="" />


            </div>

            <div class="span_7">

                <h4>ActewAGL</h4>

                <p>ActewAGL was formed in 2000 and is based in Australia's capital, ACT. They supply energy to 195,000 residents in NSW and ACT and their energy network covers 2,358 square kilometres. In addition to selling gas and electricity at the best price, ActewAGL promote green energy and energy saving to their customers while partaking in initiatives to find future energy solutions.</p>


















            </div>

        </div>






        <div id="service-5" class="tab row inner" style="display: none;">

            <div class="span_5 center-align">


                <img src="/wp-content/uploads/2016/06/logos_powershop-300x54.gif" alt="" />


            </div>

            <div class="span_7">

                <h4>Powershop</h4>

                <p>Powershop is dedicated to supplying customers with an outstanding service. They pride themselves on being an entirely online electricity retailer. Customers can view how much energy they are using, and monitor what it is costing them while Powershop assists customers in saving energy as well as money. Powershop won the Happiest Customers Award in 2015, in addition to this, they were ranked the greenest power company in Australia in both 2014 and 2015 by Greenpeace.  </p>


















            </div>

        </div>






        <div id="service-6" class="tab row inner" style="display: none;">

            <div class="span_5 center-align">


                <img src="/wp-content/uploads/2016/06/logos_sumo-300x120.gif" alt="" />


            </div>

            <div class="span_7">

                <h4>Sumo Power</h4>

                <p>Sumo power are 100% Australian owned and focus on keeping their products simple and their prices low. Sumo offers residents in Victoria a prime electricity service that gives you control over your energy usage so you are easily able to manage your electricity costs. Sumo was founded with the sole purpose of creating an energy service that gave customers impeccable service every time. </p>


















            </div>

        </div>






        <div id="service-7" class="tab row inner" style="display: none;">

            <div class="span_5 center-align">


                <img src="/wp-content/uploads/2016/06/logos_red_energy-300x135.gif" alt="" />


            </div>

            <div class="span_7">

                <h4>Red Energy</h4>

                <p>Since 2004, Red Energy have  been providing electricity and gas to Australians. They're owned by Snowy Hydro and are proud to be 100% Australian.  Based in Melbourne, they employ over 500 people. They've since expanded their electricity basis from Victoria to South Australia and New South Wales.</p>


















            </div>

        </div>





    </div>



</section>










<partial name="AdditionalServices" />

