﻿
@{
    ViewData["Title"] = "Gas";
}

<section class="container page-header">



    <h1>
        <span>
            Gas
        </span>
    </h1>




    <img width="1440" height="615" src="/wp-content/uploads/2016/06/sub_gas-2-1440x615.jpg" class="attachment-banner-image size-banner-image wp-post-image" alt="sub_gas" />



</section>


<section class="container padding content center-align">

    <div class="row">


        <h2>MyConnect has a range of flexible options for your gas connection which are all cost-efficient.</h2>
        <p>We can organise a meter read for you and ensure your account is up and running. Gas is almost always connected immediately for you, so you can have peace of mind with our connection guarantee, that will be one less utility for you to worry about.</p>





    </div>

</section>


<section class="service-menu">

    <div class="row inner">


        <ul id="tabs">


            <li><a href="#service-1">Origin</a></li>


            <li><a href="#service-2">Energy Australia</a></li>


            <li><a href="#service-3">AGL</a></li>


            <li><a href="#service-4">ActewAGL</a></li>


            <li><a href="#service-5">Red Energy</a></li>


        </ul>


    </div>

</section>



<section class="container padding service-brands">


    <div id="content" class="tabs">



        <div id="service-1" class="tab row inner" style="display: none;">

            <div class="span_5 center-align">


                <img src="/wp-content/uploads/2016/06/logos_origin-300x222.gif" alt="" />


            </div>

            <div class="span_7">

                <h4>Origin</h4>

                <p>Origin is proud to be one of Australia’s leading energy companies selling energy to Australian homes, businesses and industrial customers. They’re also Australia’s largest green energy retailer providing GreenPower, Green Gas and LPG, and have more than a decade of experience in large-scale renewable generation covering wind and solar.  The Origin call centre operates from 7am to 9pm weekdays and Saturdays 9am to 5pm. Their residential products come with no exit fees or lock in contracts.</p>


















            </div>

        </div>






        <div id="service-2" class="tab row inner" style="display: none;">

            <div class="span_5 center-align">


                <img src="/wp-content/uploads/2016/06/logos_energy_aus-300x222.gif" alt="" />


            </div>

            <div class="span_7">

                <h4>Energy Australia</h4>

                <p>Energy Australia service over 2.6 million households and businesses across Australia. They are one of Australia's largest and most experienced energy companies. They own a multibillion dollar portfolio of energy generation and storage facilities including coal, gas and wind assets. They offer straightforward electricity and gas plans for New South Wales, Victoria, South Australia and Australian Capital Territory, and electricity plans for Queensland.</p>


















            </div>

        </div>






        <div id="service-3" class="tab row inner" style="display: none;">

            <div class="span_5 center-align">


                <img src="/wp-content/uploads/2016/06/AGL_Logo_Vertical_RGB-300x285.png" alt="" />


            </div>

            <div class="span_7">

                <h4>AGL</h4>

                <p>AGL is one of Australia's leading integrated energy companies and largest ASX listed owner, operator and developer of renewable energy generation. They service over 3.8 million residential and small business customer accounts across New South Wales, Victoria, South Australia and Queensland. They have over 175 years of experience offering gas, electricity, solar PV and other related products. </p>


















            </div>

        </div>






        <div id="service-4" class="tab row inner" style="display: none;">

            <div class="span_5 center-align">


                <img src="/wp-content/uploads/2016/06/logos_actewAGL-300x107.gif" alt="" />


            </div>

            <div class="span_7">

                <h4>ActewAGL</h4>

                <p>ActewAGL was formed in 2000 and is based in Australia's capital, ACT. They supply gas to 134,000 residents in NSW and ACT and their gas mains cover over 4,900 kilometres. In addition to selling gas and electricity at the best price, ActewAGL promote green energy and energy saving to their customers while partaking in initiatives to find future energy solutions.</p>


















            </div>

        </div>






        <div id="service-5" class="tab row inner" style="display: none;">

            <div class="span_5 center-align">


                <img src="/wp-content/uploads/2016/06/logos_red_energy-300x135.gif" alt="" />


            </div>

            <div class="span_7">

                <h4>Red Energy</h4>

                <p>Since 2004, Red Energy have  been providing electricity and gas to Australians. They're owned by Snowy Hydro and are proud to be 100% Australian.  Based in Melbourne, they employ over 500 people. They supply gas in Victoria and in the Jemena Gas Network area in New South Wales</p>


















            </div>

        </div>





    </div>



</section>











<partial name="AdditionalServices" />

