﻿
@{
    ViewData["Title"] = "Index";
}

<section class="container page-header">



    <h1>
        <span>
            Services
        </span>
    </h1>




    <img width="1440" height="615" src="/wp-content/uploads/2016/06/sub_services-1-1440x615.jpg" class="attachment-banner-image size-banner-image wp-post-image" alt="sub_services" />



</section>








<section class="container padding content">

    <div class="row">


        <h2>At MyConnect, it is our goal to make your next move as easy as possible. We deliver a free, no-obligation service that takes the headache out of moving home</h2>


    </div>



</section>








<section class="container padding content services">

    <div class="row">




        <div class="span_6">


            <img src="/wp-content/uploads/2016/06/ico_electricity-150x150.png" alt="" />


            <h3>Electricity</h3>

            We are partnered with a wide range of providers with flexible options for your electricity connection. Our friendly staff can help...
            <p><a href="/services/electricity">Learn more</a></p>

        </div>


        <div class="span_6">


            <img src="/wp-content/uploads/2016/06/ico_gas-150x150.jpg" alt="" />


            <h3>Gas</h3>

            MyConnect has a range of flexible options for your gas connection which are all cost-efficient. We can organise a meter read...
            <p><a href="/services/gas">Learn more</a></p>

        </div>


        <div class="span_6">


            <img src="/wp-content/uploads/2016/06/ico_phone_internet-150x150.jpg" alt="" />


            <h3>Internet &#038; Phone</h3>

            It&#8217;s hard to function today in a house without internet. MyConnect can find you the strongest connection for your new address....
            <p><a href="/services/internet">Learn more</a></p>

        </div>


        <div class="span_6">


            <img src="/wp-content/uploads/2016/06/ico_insurance-150x150.jpg" alt="" />


            <h3>Insurance</h3>

            We understand that it is important to feel safe and protected. To help ensure peace of mind, we have partnered with...
            <p><a href="/services/insurance">Learn more</a></p>

        </div>


        <div class="span_6">


            <img src="/wp-content/uploads/2016/06/ico_paytv-150x150.jpg" alt="" />


            <h3>Pay TV</h3>

            We have partnered with Australia&#8217;s leading Pay TV provider, Foxtel. They offer a huge selection of programs with different packages and...
            <p><a href="/services/paytv">Learn more</a></p>

        </div>


        <div class="span_6">


            <img src="/wp-content/uploads/2016/06/ico_water-150x150.jpg" alt="" />


            <h3>Water</h3>

            We can complete water connections in Victoria. We register and update all water bills and solve any relevant problems.
            <p><a href="/services/water">Learn more</a></p>

        </div>


        <div class="span_6">


            <img src="/wp-content/uploads/2016/08/ico_truck-150x150.jpg" alt="" />


            <h3>Truck Hire</h3>

            We can arrange truck hire for your moving day.

            <p><a href="/services/truckhire">Learn more</a></p>

        </div>

    </div>

</section>


