﻿
@{
    ViewData["Title"] = "Internet & Phone";
}

<section class="container page-header">



    <h1>
        <span>
            Internet &#038; Phone
        </span>
    </h1>




    <img width="1440" height="615" src="/wp-content/uploads/2016/06/sub_internet_phone-1-1440x615.jpg" class="attachment-banner-image size-banner-image wp-post-image" alt="sub_internet_phone" />



</section>


<section class="container padding content center-align">

    <div class="row">


        <h2>It&#8217;s hard to function today in a house without internet.</h2>
        <p>MyConnect can find you the strongest connection for your new address. We take into consideration your data usage as well as the duration of your tenancy when advising you on the plans available. We can also guide you through the telephone suppliers and their value bundles and packages. MyConnect can help you choose the supplier with the best service in your desired calling area.</p>
        <p class="p1">





    </div>

</section>


<section class="service-menu">

    <div class="row inner">


        <ul id="tabs">


            <li><a href="#service-1">Telstra</a></li>


            <li><a href="#service-2">Belong</a></li>


        </ul>


    </div>

</section>



<section class="container padding service-brands">


    <div id="content" class="tabs">



        <div id="service-1" class="tab row inner" style="display: none;">

            <div class="span_5 center-align">


                <img src="/wp-content/uploads/2016/06/telstra-logo-300x94.png" alt="Telstra" />


            </div>

            <div class="span_7">

                <h4>Telstra</h4>

                <p>Telstra is Australia's leading telecommunications and information services company, offering a full range of communications services and competing in all telecommunications markets. They provide 16.9 million mobile services, 7.2 million fixed voice services and 3.3 million retail fixed broadband services. They are Australia's largest and fastest national mobile network. </p>


















            </div>

        </div>






        <div id="service-2" class="tab row inner" style="display: none;">

            <div class="span_5 center-align">


                <img src="/wp-content/uploads/2016/06/image001-300x142.png" alt="" />


            </div>

            <div class="span_7">

                <h4>Belong</h4>

                <p>Belong was launched by Telstra in 2013 and provides customers with a great service broadband for a very competitive price. Belong offers ADSL and NBN plans on a month to month, no lock-in contract option which is great for customers who are not staying at their property long term and allows customers to sample the service. </p>


















            </div>

        </div>





    </div>



</section>











<partial name="AdditionalServices" />
