﻿
@{
    ViewData["Title"] = "Pay TV";
}

<section class="container page-header">



    <h1>
        <span>
            Pay TV
        </span>
    </h1>




    <img width="1440" height="615" src="/wp-content/uploads/2016/06/sub_paytv-1440x615.jpg" class="attachment-banner-image size-banner-image wp-post-image" alt="sub_paytv" />



</section>


<section class="container padding content center-align">

    <div class="row">


        <h2>We have partnered with Australia&#8217;s leading Pay TV provider, Foxtel.</h2>
        <p>They offer a huge selection of programs with different packages and bundles. Give us a call to discuss different options for your household.</p>
        <p class="p1">





    </div>

</section>


<section class="service-menu">

    <div class="row inner">


        <ul id="tabs">


            <li><a href="#service-1">Foxtel</a></li>


        </ul>


    </div>

</section>



<section class="container padding service-brands">


    <div id="content" class="tabs">



        <div id="service-1" class="tab row inner" style="display: none;">

            <div class="span_5 center-align">


                <img src="/wp-content/uploads/2016/06/foxtel-logo-new-300x118.png" alt="" />


            </div>

            <div class="span_7">

                <h4>Foxtel</h4>

                <p>Foxtel is a progressive and dynamic media company, delivering a diverse subscription television service to both regional and metropolitan areas over cable, satellite and broadband distribution. They provide entertainment to over 2.8 million subscribing households with extensive channels, genres and content. </p>


















            </div>

        </div>





    </div>



</section>








<partial name="AdditionalServices" />
