﻿
@{
    ViewData["Title"] = "Truck Hire";
}

<section class="container page-header">



    <h1>
        <span>
            Truck Hire
        </span>
    </h1>




    <img width="1440" height="615" src="/wp-content/uploads/2016/07/sub_blog_renting-1440x615.jpg" class="attachment-banner-image size-banner-image wp-post-image" alt="sub_blog_renting" />



</section>


<section class="container padding content center-align">

    <div class="row">







    </div>

</section>


<section class="service-menu">

    <div class="row inner">


        <ul id="tabs">


            <li><a href="#service-1">Europcar</a></li>


        </ul>


    </div>

</section>



<section class="container padding service-brands">


    <div id="content" class="tabs">



        <div id="service-1" class="tab row inner" style="display: none;">

            <div class="span_5 center-align">


                <img src="/wp-content/uploads/2016/08/EUROPCAR-LOGO-MYCONNECT-300x220.jpg" alt="" />


            </div>

            <div class="span_7">

                <h4>Europcar</h4>

                <p><strong>Europcar vehicle rentals - 10% off the base rate*</strong></p>
                <p>Europcar Australia is one of the nation’s leading car rental companies, offering an extensive range of cars, from economy to large family vehicles, luxury vehicles as well as commercial utes, vans and trucks. We also offer innovative mobility solutions such as bike carriers and wheelchair accessible vehicles. </p>
                <p>The next time you need a truck, van or ute for moving house, furniture, stock or even a spot of DIY, think Europcar! Europcar provides a complete moving solution with locations throughout Australia, moving vans with hydraulic lifts and flexible rates to make moving things easy and affordable.</p>
                <p>Plus, as a MyConnect customer, you receive 10% off the base rate of all rentals*</p>
                <p><a href="https://www.europcar.com.au/partners/myconnect" target="_blank">https://www.europcar.com.au/partners/myconnect</a></p>


















            </div>

        </div>





    </div>



</section>







<partial name="AdditionalServices" />