﻿
@{
    ViewData["Title"] = "Water";
}

<section class="container page-header">



    <h1>
        <span>
            Water
        </span>
    </h1>




    <img width="1440" height="615" src="/wp-content/uploads/2016/06/sub_water-1440x615.jpg" class="attachment-banner-image size-banner-image wp-post-image" alt="sub_water" />



</section>


<section class="container padding content center-align">

    <div class="row">


        <h2 class="p1"><span class="s1">We can complete water connections in Victoria. We</span><span class="s1"> register and update all water bills and solve any relevant problems.</span></h2>





    </div>

</section>


<section class="service-menu">

    <div class="row inner">


        <ul id="tabs">


            <li><a href="#service-1">Yarra Valley Water</a></li>


            <li><a href="#service-2">South East Water</a></li>


            <li><a href="#service-3">City West Water</a></li>


        </ul>


    </div>

</section>



<section class="container padding service-brands">


    <div id="content" class="tabs">



        <div id="service-1" class="tab row inner" style="display: none;">

            <div class="span_5 center-align">


                <img src="/wp-content/uploads/2016/06/logos_yarravalleywater-300x148.gif" alt="" />


            </div>

            <div class="span_7">

                <h4>Yarra Valley Water</h4>

                <p>Melbourne's largest water and sanitation business, Yarra Valley Water, supply water and sewerage services to over 1.7 million Victorians. Over 50,000 businesses in Melbourne's northern and eastern suburbs utilize their services. </p>


















            </div>

        </div>






        <div id="service-2" class="tab row inner" style="display: none;">

            <div class="span_5 center-align">


                <img src="/wp-content/uploads/2016/06/logos_south-east-water-300x117.gif" alt="" />


            </div>

            <div class="span_7">

                <h4>South East Water</h4>

                <p>South East Water manages more than 81 water pump stations, 259 sewerage pump stations and $4 billion of infrastructure.  They provide water for homes and businesses, as well as sewerage and trade wasting services. </p>


















            </div>

        </div>






        <div id="service-3" class="tab row inner" style="display: none;">

            <div class="span_5 center-align">


                <img src="/wp-content/uploads/2016/06/logos_citywestwater-300x85.gif" alt="" />


            </div>

            <div class="span_7">

                <h4>City West Water</h4>

                <p>City West Water supply drinking water, sewerage, trade waste and recycled water services to Melbourne's CBD, inner and western suburbs. They supply 93 billion litres of drinking water per year and transfer to their customers. </p>


















            </div>

        </div>





    </div>



</section>







<partial name="AdditionalServices" />