﻿@model astute.Models.AgencyDetailsModel
@{
    ViewData["Title"] = $"About {Model.CompanyName}";
}

<section class="container page-header">
    <h1>
        <span>
            About @Model.CompanyName
        </span>
    </h1>
    <img width="1440" height="615" src="/wp-content/uploads/2016/06/sub_about-1440x615.jpg" class="attachment-banner-image size-banner-image wp-post-image" alt="sub_about" />
</section>

<section class="container padding content">
    <div class="row">
        <h2>At @Model.CompanyName, it is our goal to make your move as easy as possible. We deliver a free, no-obligation service that takes the headache out of moving home.</h2>
        <div class="row">
            <h3><img class="alignleft wp-image-429 size-medium" src="/wp-content/uploads/2016/06/about_whoweare-300x226.jpg" width="300" height="226" srcset="/wp-content/uploads/2016/06/about_whoweare-300x226.jpg 300w, /wp-content/uploads/2016/06/about_whoweare.jpg 530w" sizes="(max-width: 300px) 100vw, 300px" />Who are we?</h3>
            <p>We are a utilities connection company based in Melbourne CBD. We offer an efficient home moving service that connects all your utilities in just one phone call, and we pride ourselves on our excellent customer service. We are devoted to saving you time, effort and money.</p>            
        </div><br />
        <div class="row">            
            <h3><img class="alignleft wp-image-428 size-medium" src="/wp-content/uploads/2016/06/about_whatwedo-300x226.jpg" width="300" height="226" srcset="/wp-content/uploads/2016/06/about_whatwedo-300x226.jpg 300w, /wp-content/uploads/2016/06/about_whatwedo.jpg 530w" sizes="(max-width: 300px) 100vw, 300px" />What do we do?</h3>
            <p>We connect electricity, gas, water, telephone, internet and pay TV We streamline the process of connecting utilities, doing all the hard work in just one phone call. You can feel at ease with our connection guarantee, ensuring your utilities are connected on the agreed day or we will help cover your out of pocket expenses. We can even arrange next day or same day connections to ensure those last minute submissions are stress free.</p>            
        </div><br />
        <div class="row">            
            <h3><img class="alignleft wp-image-430 size-medium" src="/wp-content/uploads/2016/06/about_whychooseus-300x226.jpg" width="300" height="226" srcset="/wp-content/uploads/2016/06/about_whychooseus-300x226.jpg 300w, /wp-content/uploads/2016/06/about_whychooseus.jpg 530w" sizes="(max-width: 300px) 100vw, 300px" />Why choose us?</h3>
            <p>Since 2006, we have committed all our effort into every aspect of this business. We deliver an honest, quality service that makes moving home so much easier. We are dedicated to providing a seamless service for those seeking assistance during their move, and we are confident that we will leave each and every customer satisfied. Let us do all the hard work.</p>            
        </div>
    </div>
</section>

<section class="container padding content services">
    <div class="row">
        <div class="span_6">
            <h3>How it works</h3>
            In just four simple steps we connect all your utilities, saving you time, effort and money.
            <p><a href="/home/howitworks">Learn more</a></p>
        </div>
    </div>
</section>

<section class="container action padding-bottom">
    <div class="row center-align cta">
        <h4>Now you know a little about @Model.CompanyName</h4>
        <p><a href="/connect">Get Connected online</a></p>
    </div>
</section>








