﻿
@{
    ViewData["Title"] = "Contact";
}

<section class="container page-header">



    <h1>
        <span>
            Contact
        </span>
    </h1>




    <img width="1440" height="615" src="/wp-content/uploads/2016/06/contact-banner-1440x615.jpg" class="attachment-banner-image size-banner-image wp-post-image" alt="contact-banner" />



</section>






<section class="container padding content contact">

    <div class="row">


        <div class="span_6">


            <div class="connected">

                <div class="content">


                    <p>Call Astute Connect on:</p>

                    <p><strong>1300 854 478</strong></p>

                    <div class="vs">or</div>

                    <p>Fill out our form online:</p>

                    <p><strong><a href="/connect">Connect Online</a></strong></p>

                </div>

            </div>


        </div>

        <div class="span_6">


            <h3>Phone</h3>
            <p><a href="http://1300 854 478">1300 854 478</a></p>
            <h3>Email</h3>
            <p><a href="mailto:enquiries@myconnect.com.au">enquiries@myconnect.com.au</a></p>
            <h3>Address</h3>
            <p>GPO Box 4778, Melbourne VIC 3001</p>
            <h3></h3>
            <h3>Call Centre Hours</h3>
            <p>
                Monday-Friday 9am- 7pm<br />
                Saturday 10am-3pm
            </p>


        </div>


    </div>

</section>

