﻿
@{
    ViewData["Title"] = "Frequently Asked Questions";
}

<section class="container page-header">



    <h1>
        <span>
            Frequently Asked Questions
        </span>
    </h1>




    <img width="1440" height="615" src="/wp-content/uploads/2016/06/sub_faqs-1440x615.jpg" class="attachment-banner-image size-banner-image wp-post-image" alt="sub_faqs" />



</section>








<section class="container padding content">

    <div class="row">




    </div>



</section>













<section class="container padding-bottom faqs">

    <div class="row">

        <div id="accordion">




            <div class="draw-outer">

                <h4>Who does Astute Connect work with?</h4>

                <div class="draw" style="display: none;">

                    <p>AGL, Origin, Energy Australia, ActewAGL, Powershop, Sumo Power, Red Energy, Telstra, TPG, NetCube, Foxtel and CGU.</p>

                </div>

            </div>


            <div class="draw-outer">

                <h4>What&#8217;s the latest time I can organise my electricity and/or gas?</h4>

                <div class="draw" style="display: none;">

                    <p>The latest time an electricity or gas company can receive a request to connect power is midday for a next day connection. In certain areas we can arrange same day connections.</p>

                </div>

            </div>


            <div class="draw-outer">

                <h4>When can I expect to be contacted?</h4>

                <div class="draw" style="display: none;">

                    <p>We guarantee we can contact you by the end of the next business day.</p>

                </div>

            </div>


            <div class="draw-outer">

                <h4>What happens after I submit an online request for connection?</h4>

                <div class="draw" style="display: none;">

                    <p>Once we receive your submission, we will give you a call to confirm your details and the utilities you wish to connect. We then contact our partners to process your requests.</p>

                </div>

            </div>


            <div class="draw-outer">

                <h4>Why do I need to provide personal information?</h4>

                <div class="draw" style="display: none;">

                    <p>MyConnect will ask for your ID number, date of birth etc. We do not disclose any personal information about our customers for purposes other than arranging their connection, and we need to obtain your consent to do so. This information is required to fulfil the service request. All personal information disclosure complies with the Australian Privacy Principles under the Privacy Act 1988.</p>

                </div>

            </div>


            <div class="draw-outer">

                <h4>How do I find my electricity or gas meter?</h4>

                <div class="draw" style="display: none;">

                    <p>There needs to be clear access to your meters on the day of your connection. Your meter will differ depending on the style of your property. If you live in an apartment, unit or townhouse, it is likely that all of the meters are located in one central area. In older unit blocks there may just be one meter for all the properties. In a house, the electricity and gas meter is usually near the front door or round the side of the house.</p>

                </div>

            </div>


            <div class="draw-outer">

                <h4>I need to change my connection details.</h4>

                <div class="draw" style="display: none;">

                    <p>This is easily done. Please call us on <strong>1300 854 478</strong>.</p>

                </div>

            </div>


            <div class="draw-outer">

                <h4>I have a billing enquiry</h4>

                <div class="draw" style="display: none;">

                    <p>If you have a billing enquiry, please contact us direct on 1300 854 478.</p>

                </div>

            </div>


            <div class="draw-outer">

                <h4>How is this service free?</h4>

                <div class="draw" style="display: none;">

                    <p>We receive a fee for every connection we make with one of our partners. This does not affect the price you pay to them.</p>

                </div>

            </div>


            <div class="draw-outer">

                <h4>How do I get connected?</h4>

                <div class="draw" style="display: none;">

                    <p>To begin the process, you can either fill out an online connection form and let us call you, or you can call us on 1300 854 478 between 9am-6pm weekdays and 10am-3pm on Saturdays.</p>

                </div>

            </div>




        </div>


    </div>

</section>


