﻿
@{
    ViewData["Title"] = "How It Works";
}

<section class="container page-header">



    <h1>
        <span>
            How it works
        </span>
    </h1>




    <img width="1440" height="615" src="/wp-content/uploads/2016/06/sub_how_it_works-1-1440x615.jpg" class="attachment-banner-image size-banner-image wp-post-image" alt="sub_how_it_works" />



</section>








<section class="container padding content">

    <div class="row">


        <h2>In just four simple steps we connect all your utilities, saving you time, effort and money.</h2>


    </div>







    <div class="row inner how-it-works custom-list">

        <div class="span_2">


            <img src="/wp-content/uploads/2016/06/img_suppliers-150x150.jpg" alt="" />


        </div>

        <div class="span_10">

            <h3><span>0</span> Agree</h3>

            <p>Complete the Astute Connect application form or get connected through our website so we can contact you. There are no obligations, no lock in contracts and we are a completely free service. This is just to have a chat with us about our service, what we have to offer and how we can help you.</p>

        </div>

    </div>


    <div class="row inner how-it-works custom-list">

        <div class="span_2">


            <img src="/wp-content/uploads/2016/06/img_wecallyou-150x150.jpg" alt="" />


        </div>

        <div class="span_10">

            <h3><span>0</span> We call you</h3>

            <p>Astute Connect will call you to discuss your up and coming move in date. In one phone call, we can organise all your utilities, saving you time, effort and money. We also offer a free interpreter service if needed to ensure communication is as simple as possible.</p>

        </div>

    </div>


    <div class="row inner how-it-works custom-list">

        <div class="span_2">


            <img src="/wp-content/uploads/2016/06/img_agree-150x150.jpg" alt="" />


        </div>

        <div class="span_10">

            <h3><span>0</span> Choose your suppliers</h3>

            <p>We are partnered with a wide range of suppliers in order to find the option that best suits you. We also have a variety of plans and packages available.</p>
            <p><strong><img class="wp-image-734 aligncenter" src="/wp-content/uploads/2016/06/suppliers-high-res-300x76.png" alt="suppliers high res" width="646" height="163" srcset="/wp-content/uploads/2016/06/suppliers-high-res-300x76.png 300w, /wp-content/uploads/2016/06/suppliers-high-res-768x195.png 768w, /wp-content/uploads/2016/06/suppliers-high-res-1024x259.png 1024w" sizes="(max-width: 646px) 100vw, 646px" /></strong></p>
            <p><strong>+ even more!</strong></p>

        </div>

    </div>


    <div class="row inner how-it-works custom-list">

        <div class="span_2">


            <img src="/wp-content/uploads/2016/06/ico_movein-150x150.jpg" alt="" />


        </div>

        <div class="span_10">

            <h3><span>0</span> Move in</h3>

            <p>Move into your new home with all your services connected and ready to go. We guarantee your utilities will be connected on the agreed day or we will cover your out of pocket expenses.</p>

        </div>

    </div>






</section>























<section class="container action padding-bottom">

    <div class="row center-align cta">

        <h4>Its pretty simple isn&#8217;t it?</h4>
        <p><a href="/connect">Get Connected online</a></p>

    </div>

</section>





<section class="container padding testimonials">

    <div class="row inner">

        <div class="flexslider">

            <ul class="slides">




                <li>

                    <div class="holder">

                        <div class="align">

                            <h5>"Astute Connect were very easy to deal with, no complaints here. I would use them again." </h5>

                            <h6>- Jen, NSW -</h6>

                        </div>

                    </div>

                </li>


                <li>

                    <div class="holder">

                        <div class="align">

                            <h5>"A great service and a great idea to help those with the stress of moving. Highly recommend." </h5>

                            <h6>- Wahaj, SA -</h6>

                        </div>

                    </div>

                </li>


                <li>

                    <div class="holder">

                        <div class="align">

                            <h5>"I had my gas and electricity connected last month by Astute Connect. I can't get over how simple the process was. I chose my supplier (Origin) and MyConnect took it from there. On top of that, the service is free." </h5>

                            <h6>- Sarah, NSW -</h6>

                        </div>

                    </div>

                </li>


                <li>

                    <div class="holder">

                        <div class="align">

                            <h5>"Astute Connect organised everything for my move. I would use them again." </h5>

                            <h6>- Benjamin, VIC -</h6>

                        </div>

                    </div>

                </li>


                <li>

                    <div class="holder">

                        <div class="align">

                            <h5>"I was referred to Astute Connect by my realtor to have all my utilities connected. I wasn't 100% on them at first, but they allowed me to connect all my utilities with the companies that I wanted to go with and I'm very happy." </h5>

                            <h6>- Jake, VIC -</h6>

                        </div>

                    </div>

                </li>


                <li>

                    <div class="holder">

                        <div class="align">

                            <h5>"I recently moved out on my own for the first time and didn't realise how many things I had to get organised by my move date. I would recommend Astute Connect to anyone who may need a hand with moving." </h5>

                            <h6>- Beck, NSW -</h6>

                        </div>

                    </div>

                </li>


                <li>

                    <div class="holder">

                        <div class="align">

                            <h5>"My partner and I have moved a bunch of times within the last 5 years and this has by far been the least stressful move because of Astute Connect." </h5>

                            <h6>- Jessica, VIC -</h6>

                        </div>

                    </div>

                </li>







            </ul>

        </div>



    </div>


</section>

