﻿@{
    ViewData["Title"] = "Home Page";
}

<section class="container banner">


    <div class="flexslider">

        <ul class="slides">



            <li>

                <div class="banner-text">

                    <div class="inner">

                        <p>Welcome to <strong>Astute Connect</strong></p>
                        <p>Taking the stress out of moving home</p>

                    </div>

                </div>

                <div class="banner-image">


                    <img src="/wp-content/uploads/2018/08/Banner1-1440x615.jpg" alt="" />


                </div>

            </li>


            <li>

                <div class="banner-text">

                    <div class="inner">

                        <p>All your<strong> utilities </strong></p>
                        <p>connected<strong> </strong>in one simple phone call</p>

                    </div>

                </div>

                <div class="banner-image">


                    <img src="/wp-content/uploads/2018/08/Banner2-1440x615.jpg" alt="" />


                </div>

            </li>


            <li>

                <div class="banner-text">

                    <div class="inner">

                        <p>We partner with a wide range of <strong>service providers </strong>with</p>
                        <p>flexible options to suit your needs</p>

                    </div>

                </div>

                <div class="banner-image">


                    <img src="/wp-content/uploads/2018/08/Banner4-1440x615.jpg" alt="" />


                </div>

            </li>


            <li>

                <div class="banner-text">

                    <div class="inner">

                        <p>An entirely <strong>free service</strong></p>
                        <p>saving you time, effort and more importantly stress.</p>

                    </div>

                </div>

                <div class="banner-image">


                    <img src="/wp-content/uploads/2018/08/Banner3-1440x615.jpg" alt="" />


                </div>

            </li>



        </ul>

    </div>

</section>


<section class="container promo">

    <div class="row">

        <ul class="services-list">

            <li><img src="/wp-content/themes/myconnect/images/ico_electricity.png" alt="Connect Electricity"><span>Electricity</span></li>
            <li><img src="/wp-content/themes/myconnect/images/ico_gas.png" alt="Connect Gas"><span>Gas</span></li>
            <li><img src="/wp-content/themes/myconnect/images/ico_internet.png" alt="Connect Internet / Phone"><span>Internet &amp; Phone</span></li>
            <li><img src="/wp-content/themes/myconnect/images/ico_tv.png" alt="Connect PayTV"><span>PayTV</span></li>
            <li><img src="/wp-content/themes/myconnect/images/ico_water.png" alt="Connect Water"><span>Water</span></li>
            <li><img src="/wp-content/themes/myconnect/images/ico_truck.png" alt="Truck Hire"><span>Truck Hire</span></li>


        </ul>

        <div class="tag-line">

            <p>We connect it all - for free!</p>
            <p>Call us on <strong><a class="tele" href="tel:1300854478">1300 854 478</a></strong></p>

        </div>

    </div>

</section>


<section class="container padding connect-all">


    <div class="row inner">

        <h2>Connect all your utilities in <strong>4 simple steps:</strong></h2>

    </div>

    <div class="row inner">

        <div class="span_3">

            <div class="border"><img src="/wp-content/themes/myconnect/images/ico_agree.png" alt="Step 1 Agree"></div>

            <span><strong>1.</strong> Agree</span>



        </div>

        <div class="span_3">

            <div class="border"><img src="/wp-content/themes/myconnect/images/ico_we-call-you.png" alt="Step 2 We Call You"></div>

            <span><strong>2.</strong> We call you</span>



        </div>

        <div class="span_3">

            <div class="border"><img src="/wp-content/themes/myconnect/images/ico_choose.png" alt="Step 3 Choose your suppliers"></div>

            <span><strong>3.</strong> Choose your suppliers</span>



        </div>

        <div class="span_3">

            <div class="border"><img src="/wp-content/themes/myconnect/images/ico_move.png" alt="Step 4 Move In"></div>

            <span><strong>4.</strong> Move in!</span>



        </div>

    </div>

</section>




<section class="container padding learn-more">

    <a class="more" href="/home/howitworks">Learn more</a>


    <div class="row inner">







        <div class="col">

            <div class="time-takes">

                <img src="/wp-content/themes/myconnect/images/ico_other.png" alt="Other services up to 63mins">

                <p>Other services<br><strong>Up to 63mins</strong></p>

            </div>
            <p>It takes on average sixty three minutes and nine phone calls to connect electricity, gas, telephone and internet services.</p>

        </div>


        <div class="vs">VS</div>


        <div class="col">

            <div class="time-takes">

                <img src="/wp-content/themes/myconnect/images/ico_us.png" alt="MyConnect only 12mins">

                <p>Astute Connect<br><strong>Up to 12mins</strong></p>

            </div>

            <p>In just twelve minutes and one simple phone call, Astute Connect can connect all your utilities.</p>

            <p><a href="/connect">Connect now</a></p>

        </div>




    </div>

</section>

<section class="container padding pride">

    <div class="row inner">

        <h2>We <strong>pride</strong> ourselves on being:<h2>

    </div>

    <div class="row inner">

        <div class="span_4">


            <h3>FAST</h3>
            <p>In just one phone call, we can arrange the connection of all your chosen utilities as you need them. We can organise electricity and gas for the next business day, and in some areas, we can even arrange same day connections.</p>

        </div>

        <div class="span_4">


            <h3>SIMPLE</h3>
            <p>We do the hard work!  Fill out our online connection form or contact us so we can organise your utilities. In just a few simple steps, all your utilities are sorted.</p>

        </div>

        <div class="span_4">


            <h3>FREE</h3>
            <p>Our service is absolutely free. We are partnered with a wide range of service providers in order to find the option that best suits you. </p>

        </div>

    </div>

</section>


<section class="container padding testimonials">

    <div class="row inner">

        <div class="flexslider">

            <ul class="slides">




                <li>

                    <div class="holder">

                        <div class="align">

                            <h5>"Astute Connect were very easy to deal with, no complaints here. I would use them again." </h5>

                            <h6>- Jen, NSW -</h6>

                        </div>

                    </div>

                </li>


                <li>

                    <div class="holder">

                        <div class="align">

                            <h5>"A great service and a great idea to help those with the stress of moving. Highly recommend." </h5>

                            <h6>- Wahaj, SA -</h6>

                        </div>

                    </div>

                </li>


                <li>

                    <div class="holder">

                        <div class="align">

                            <h5>"I had my gas and electricity connected last month by Astute Connect. I can't get over how simple the process was. I chose my supplier (Origin) and MyConnect took it from there. On top of that, the service is free." </h5>

                            <h6>- Sarah, NSW -</h6>

                        </div>

                    </div>

                </li>


                <li>

                    <div class="holder">

                        <div class="align">

                            <h5>"Astute Connect organised everything for my move. I would use them again." </h5>

                            <h6>- Benjamin, VIC -</h6>

                        </div>

                    </div>

                </li>


                <li>

                    <div class="holder">

                        <div class="align">

                            <h5>"I was referred to Astute Connect by my realtor to have all my utilities connected. I wasn't 100% on them at first, but they allowed me to connect all my utilities with the companies that I wanted to go with and I'm very happy." </h5>

                            <h6>- Jake, VIC -</h6>

                        </div>

                    </div>

                </li>


                <li>

                    <div class="holder">

                        <div class="align">

                            <h5>"I recently moved out on my own for the first time and didn't realise how many things I had to get organised by my move date. I would recommend Astute Connect to anyone who may need a hand with moving." </h5>

                            <h6>- Beck, NSW -</h6>

                        </div>

                    </div>

                </li>


                <li>

                    <div class="holder">

                        <div class="align">

                            <h5>"My partner and I have moved a bunch of times within the last 5 years and this has by far been the least stressful move because of Astute Connect." </h5>

                            <h6>- Jessica, VIC -</h6>

                        </div>

                    </div>

                </li>







            </ul>

        </div>



    </div>


</section>

<section class="continer australian-owned">

    <div class="row">

        <div class="span_4">

            <img src="/wp-content/themes/myconnect/images/ico_aussie-owned.png" alt="We are 100% owned and operated">

        </div>


        <div class="span_4">

            <div class="vertical-align">

                <p>Serviceable States</p>

                <p>VIC | NSW | QLD | SA | ACT | WA</p>

                <p>*Services available through Astute Connect beyond (North) of Hervey Bay are limited to phone, internet and Pay Tv</p>

            </div>

        </div>


        <div class="span_4">

            <div class="vertical-align">

                <p>Call us on <strong><a class="tele" href="tel:1300854478">1300 854 478</a></strong></p>

            </div>

        </div>

    </div>



</section>	