﻿
@{
    ViewData["Title"] = "Privacy";
}

<section class="container page-header">



    <h1>
        <span>
            Privacy Policy
        </span>
    </h1>








</section>








<section class="container padding content">

    <div class="row">


        <h2 style="text-align: center;"><strong>MyConnect Privacy Policy</strong></h2>
        <p>The privacy of your personal information is a priority for us at MyConnect. We respect your rights to privacy under the Privacy Act 1988 (Privacy Act) and we are committed to complying with the Privacy Act’s requirements for collecting and managing your personal information.</p>
        <p>
            <strong>1. Dealing with your personal information</strong><br />
            When you make contact with MyConnect, you usually have to identify yourself by providing your personal information. We may not be able to do business with you or answer your enquiry if we are not able to identify you.
        </p>
        <p>
            <strong>2. The kinds of information we collect and hold</strong><br />
            Depending on the type of contact you have with us, we may collect and hold a range of different kinds of personal information about you. This may include your name, current and previous addresses, date of birth, telephone number, email address, bank account and credit card details, credit history, concession or discount entitlements, shareholdings, qualifications, proof of right to<br />
            work, and information about the services provided to you.
        </p>
        <p>
            <strong>3. How we collect your personal information</strong><br />
            <strong>Directly from you:</strong> Unless it is unreasonable or impracticable to do so, we try to collect your personal information directly from you. We may contact you, by telephone, through letters and/or<br />
            emails.<br />
            <strong>From third parties:</strong> We may also collect personal information about you from third parties, including your authorised representative, our agents or third parties with whom we have business<br />
            relationships.
        </p>
        <p>
            <strong>4. Why we collect your personal information</strong><br />
            We collect your personal information so we can identify you and interact with you for the purposes of connecting and creating an account for your required utilities.
        </p>
        <p>
            <strong>5. When we disclose your information to or collect your information from a third party</strong><br />
            We may disclose your personal information to third parties in the conduct of our business. If third parties act on our behalf, we ask them to hold, use and disclose your personal information in<br />
            accordance with the Privacy Act. We may disclose your personal information to other third parties (often referred to as service providers) that we engage or we are engaged by for the purposes of<br />
            their work.<br />
            These third parties include information technology suppliers, meter reading and maintenance contractors, debt collection agencies, marketing and advertising agencies and contractors, mailing and logistics providers, our joint venture partners, entities for whom we act or provide functions, government and regulatory authorities, and our professional advisors (such as accountants, auditors and lawyers).
        </p>
        <p>These third parties may provide us with personal information they have collected from you in the course of providing relevant products or services. We may also disclose your personal information to third parties to whom our third parties assign your debt.</p>
        <p>
            <strong>6. How we hold and keep secure your information</strong><br />
            Securing your information: We store information in different ways, including in hardcopy and electronic form. Our security safeguards include:<br />
            • technical solutions, security controls and internal processes to help us protect your information from misuse, interference, loss or unauthorised access, modification or disclosure;<br />
            <strong>Our Complaints Officer:</strong> If you feel your complaint or question is not being handled appropriately, please contact our Complaints Officer:<br />
            Post: Attn: The Complaints Officer<br />
            MyConnect<br />
            GPO Box 4778<br />
            Melbourne VIC 3001<br />
            Email: fax@myconnect.com.au
        </p>
        <p>
            <strong>7. How to contact us</strong><br />
            If you want to opt out of marketing from MyConnect, you can contact us:<br />
            • By telephone or post: You can call us on 1300 854 478 or write to us at MyConnect, GPO Box 4778 Melbourne VIC 3001
        </p>
        <p>
            <strong>8. Changes to our Privacy Policy</strong><br />
            When we change our Privacy Policy, we update it on our website. Visit our website regularly to review our Privacy Policy for changes.<br />
            This Privacy Policy was last updated in Novmber 2017.
        </p>


    </div>



</section>

