﻿
@{
    ViewData["Title"] = "Terms And Conditions";
}

<section class="container page-header">



    <h1>
        <span>
            Terms &#038; Conditions
        </span>
    </h1>








</section>








<section class="container padding content">

    <div class="row">


        <p>When using the myconnect service you; consent to the disclosure of information to myconnect ABN 34 121 892 331 for the purpose of arranging the connection of nominated utility services; consent to myconnect disclosing personal information to utility service providers for the stated purpose and obtaining confirmation of connection; consent to myconnect disclosing confirmation details (including NMI, MIRN, utility provider) to the Real Estate Agent; acknowledge the Real Estate Agent, its employees and myconnect may receive a fee/incentive from a utility provider in relation to the connection of utility services; acknowledge that whilst myconnect is a free service, a standard connection fee and/or deposit may be required by various utility providers; acknowledge that, to the extent permitted by law, the Real Estate Agent, its employees and myconnect shall not be liable for any loss or damage (including consequential loss and loss of profits) to you or any other person or any property as a result of the provision of services or any act or omission by the utility provider or for any loss caused by or in connection with any delay in connection or provision of, or failure to connect or provide the nominated utilities.</p>


    </div>



</section>
